@using UTS_Portal.ViewModels;
@{
    MyProfile myProfile = ViewBag.MyProfile;
    string TabView = ViewBag.TabView == null ? "info" : ViewBag.TabView;
    ViewData["Title"] = "My profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        .nav-tabs-bordered .nav-link.active {
            background-color: #fff !important;
            color: #4154f1 !important;
            border-bottom: 2px solid #4154f1 !important;
        }

        .footer {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1030;
        }
    </style>
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a class="breadcrumb-item"><i class="anticon anticon-home"></i>Account</a>
            <span class="breadcrumb-item active">My profile</span>
        </nav>
    </div>
</div>

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <img src="~/images/logo/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <h2>@myProfile.Fullname</h2>
                    <h3>@myProfile.Role</h3>
                    <div class="social-links mt-2"> <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> <a href="#" class="instagram"><i class="bi bi-instagram"></i></a> <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a></div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item"> <button class="nav-link @(TabView == "info" ? "active" : "")" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button></li>
                        @if (myProfile.Type == "SchoolStaff")
                        {
                            <li class="nav-item"> <button class="nav-link @(TabView == "change-password" ? "active" : "")" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button></li>
                        }
                    </ul>
                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show @(TabView == "info" ? "active show" : "") profile-overview" id="profile-overview">
                            <h5 class="card-title">Profile Details</h5>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Account ID</div>
                                <div class="col-lg-9 col-md-8">@myProfile.Id</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Full Name</div>
                                <div class="col-lg-9 col-md-8">@myProfile.Fullname</div>
                            </div>
                            @*<div class="row">
                                <div class="col-lg-3 col-md-4 label">User type</div>
                                <div class="col-lg-9 col-md-8">@myProfile.Role</div>
                            </div>*@
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">@myProfile.Email</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Phone</div>
                                <div class="col-lg-9 col-md-8">@myProfile.Phone</div>
                            </div>
                            @if (myProfile.Type == "SchoolAccount")
                            {
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Classname</div>
                                    <div class="col-lg-9 col-md-8">@myProfile.ClassName</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Class</div>
                                    <div class="col-lg-9 col-md-8">@myProfile.Class</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Gender</div>
                                    <div class="col-lg-9 col-md-8">@myProfile.Sex</div>
                                    <div class="col-lg-9 col-md-8"></div>
                                </div>
                            }
                           @* <div class="row">
                                <div class="col-lg-3 col-md-4 label">Created Date</div>
                                <div class="col-lg-9 col-md-8">@myProfile.CreatedDate</div>
                            </div>*@
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Last Login</div>
                                <div class="col-lg-9 col-md-8">@myProfile.LastLogin</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Allergy Information</div>
                                <div class="col-lg-9 col-md-8">@myProfile.Information</div>
                            </div>
                        </div>
                        @if (myProfile.Type == "SchoolStaff")
                        {
                            <div class="tab-pane fade @(TabView == "change-password" ? "active show" : "") pt-3" id="profile-change-password">
                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password <label class="text-danger">*</label></label>
                                    <div class="col-md-8 col-lg-9"> <input name="password" type="password" class="form-control" id="currentPassword"></div>
                                </div>
                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password <label class="text-danger">*</label></label>
                                    <div class="col-md-8 col-lg-9"> <input name="newpassword" type="password" class="form-control" id="newPassword"></div>
                                </div>
                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-Password <label class="text-danger">*</label></label>
                                    <div class="col-md-8 col-lg-9"> <input name="renewpassword" type="password" class="form-control" id="reNewPassword"></div>
                                </div>
                                <div class="text-center"> <button class="btn btn-primary" id="change-password">Change Password</button></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        jQuery(document).ready(function () {
            $("#change-password").click(function () {
                var currentPassword = $("#currentPassword").val();
                var newPassword = $("#newPassword").val();
                var reNewPassword = $("#reNewPassword").val();
                var errors = [];
                if (currentPassword == '') {
                    errors.push("Current Password is required");
                }
                if (newPassword.length < 5) {
                    errors.push("New password must be more than 5 characters");
                }
                if (newPassword == '') {
                    errors.push("New Password is required");
                }
                if (reNewPassword == '') {
                    errors.push("Confirm New Password is required");
                }

                if (newPassword != reNewPassword) {
                    errors.push("Confirm New Password not correct");
                }

                if (errors.length > 0) {
                    var error_html = "<ul>";
                    errors.forEach(function (er) {
                        error_html = error_html + "<li>" + er + "</li>";
                    });
                    error_html = error_html + "</ul>";

                    $.confirm({
                        closeIcon: true,
                        type: 'red',
                        typeAnimated: true,
                        icon: 'fa fa-warning',
                        title: 'Please check again!',
                        content: error_html,
                        buttons: {
                            ChooseAgain: {
                                text: 'Check',
                                btnClass: 'btn-red',
                                action: function () {
                                }
                            },
                        }
                    });
                }
                else {
                    const ChangPassword = { CurrentPassword: currentPassword, NewPassword: newPassword, ReNewPassword: reNewPassword };

                $.ajax({
                    url: '@Url.Action("ChangePasswordStaff", "Account")',
                    type: "POST",
                    dataType: "json",
                    data: { model: ChangPassword },
                    success: function (data) {
                        if (data.success) {
                            $.confirm({
                                title: 'Successfully!',
                                content: data.message,
                                type: 'green',
                                typeAnimated: true,
                                buttons: {
                                    Ok: {
                                        btnClass: 'btn-success',
                                        action: function () {
                                            $("#currentPassword").val("");
                                            $("#newPassword").val("");
                                            $("#reNewPassword").val("");
                                        }
                                    },
                                }
                            });
                        } else {
                            $.confirm({
                                title: 'Error!',
                                content: data.message,
                                type: 'red',
                                typeAnimated: true,
                                buttons: {
                                    Ok: {
                                        btnClass: 'btn-red',
                                        action: function () {
                                        }
                                    },
                                }
                            });
                        }
                    }
                });
                }

            });
        })
    </script>
}