@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<UTS_Portal.Models.Feedbacks>
@{
    int CurrentPage = ViewBag.CurrentPage;
    int Total = ViewBag.Total;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home"></i>Feedback</a>
            <span class="breadcrumb-item active">List: @Total feedbacks</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Message</th>
                        <th style="width: 200px">SubmittedDate</th>
                        <th style="width: 120px">Viewed</th>
                        <th style="width: 180px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {

                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@item.Message</td>
                                <td>@item.SubmittedDate</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        @if (item.IsView == 1)
                                        {
                                            <div class="badge badge-success badge-dot mt-1">
                                                <span>Read</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="badge badge-secondary badge-dot mt-1">
                                                <span>UnRead</span>
                                            </div>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm text-white" onclick="View('@Url.Action("Details","Feedbacks")/@item.Id')">View</a>
                                    <a class="btn btn-danger btn-sm text-white" onclick="Delete('@Url.Action("Delete","Feedbacks")/@item.Id')">Delete</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }

                </tbody>
            </table>
            <div>
                <ul class="pagination justify-content-end">
                    <pager class="pager-container" list="@Model" asp-controller="Feedbacks" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        function Delete(url) {
            $.confirm({
                title: 'Confirm!',
                content: 'Do you want to delete this feedback!',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            type: "POST",
                            url: url,
                            success: function (data) {
                                if (data.success) {
                                    $.confirm({
                                        title: 'Successfully!',
                                        content: data.message,
                                        type: 'green',
                                        typeAnimated: true,
                                        buttons: {
                                            Ok: {
                                                btnClass: 'btn-success',
                                                action: function () {
                                                    window.location.reload();
                                                }
                                            },
                                        }
                                    });
                                }
                                else {
                                    $.confirm({
                                        title: 'Error!',
                                        content: data.message,
                                        type: 'red',
                                        typeAnimated: true,
                                        buttons: {
                                            Ok: {
                                                btnClass: 'btn-red',
                                                action: function () {

                                                }
                                            },
                                        }
                                    });
                                }
                            }
                        });
                    },
                    cancel: function () {

                    },
                }
            });
        }

        function View(url) {
            $.confirm({
                title: 'View feedback!',
                columnClass: 'col-md-8 col-md-offset-2',
                content: function () {
                    var self = this;
                    return $.ajax({
                        url: url,
                        dataType: 'json',
                        method: 'GET'
                    }).done(function (response) {
                        if (response.success) {
                            var html = "<label class='control-label'>Name</label>";
                            html = html + "<p>" + response.content.name + "</p>";

                            html = html + "<label class='control-label'>Email</label>";
                            html = html + "<p>" + response.content.email + "</p>";

                            html = html + "<label class='control-label'>Phone number</label>";
                            html = html + "<p>" + response.content.phone + "</p>";

                            html = html + "<label class='control-label'>Message</label>";
                            html = html + "<p>" + response.content.message + "</p>";

                            self.setContent(html);
                        }
                        else {
                            self.setContent('Something went wrong.');
                        }
                    }).fail(function () {
                        self.setContent('Something went wrong.');
                    });
                },
                buttons: {
                    OK: function () {
                        location.reload(true);
                    },
                }
            });
        }
    </script>
}