@using UTS_Portal.ViewModels;
@{
    string ParentId = ViewBag.ParentId;
    string StudentName = ViewBag.StudentName;
    var SelectBoxOrderMonth = ViewBag.SelectBoxOrderMonth;
    string RoleName = User.Claims.FirstOrDefault(x => x.Type.Equals("RoleName", StringComparison.OrdinalIgnoreCase))?.Value;
    string Permissions = User.Claims.FirstOrDefault(x => x.Type.Equals("Permissions", StringComparison.OrdinalIgnoreCase))?.Value;
    string isDisabled = RoleName == "Parent" ? "disabled" : "";

    List<OrderSubmit> listOrderSubmit = ViewBag.ListOrderSubmit;

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/css/custom-order.css" rel="stylesheet" />
    <style>
        .hide {
            display: none;
        }

        .pre-order p {
            margin-bottom: 0px;
        }

        .bx {
            color: #4154f1;
            font-size: 23px;
            line-height: 0;
        }

        .order-qty {
            padding: 0;
            border: none;
            background-color: antiquewhite;
        }

        .btn-export {
            background: none !important;
            padding-right: 12px;
            width: fit-content;
            border-color: #007bff;
        }

        .order-day {
            position: relative;
        }

        .btn-update {
            position: absolute;
            top: 9px;
            right: 8px;
            width: fit-content;
            padding: 5px 7px;
            cursor: pointer;
            font-size: 14px;
            background-color: #FF8302 !important;
        }

            .btn-update:hover {
                opacity: 0.9;
            }

        .jconfirm-content p {
            margin-bottom: 4px;
        }

        #bf_Select, #ln_Select, #af_Select {
            margin-bottom: 4px;
        }
    </style>
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home"></i>Orders</a>
            <span class="breadcrumb-item active">User: @ParentId</span>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card order-table">
            <div class="card-body">
                <h1 class="pt-0 text-center">Order history</h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Student:</label>
                        <input name="studentName" id="studentName" class="form-control" value="@StudentName" @isDisabled />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">ID:</label>
                        <input name="parentId" id="parentId" class="form-control" value="@ParentId" disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Month:</label>
                        <select class="custom-select" id="txtMonth" name="txtMonth" asp-items="@SelectBoxOrderMonth">
                        </select>
                    </div>
                    <div class="col-md-2 d-grid">
                        <label class="control-label">Action:</label>
                        <label class="form-control btn btn-primary" id="ViewHistory" style="width: 100px">View</label>
                    </div>

                    @if (listOrderSubmit != null && listOrderSubmit.Count > 0)
                    {
                        <div class="col-md-12 mt-4">
                            <label>Menu language: </label>
                            <select class="custom-select mt-3 mb-3 mr-3" id="language" name="language" style="width: 200px;">
                                <option value="vn">Vietnamese</option>
                                <option value="en" selected>English</option>
                            </select>

                            @*<label class="btn btn-primary mt-3 mb-3 mr-3" onclick="ExportFile('Parent')">Export Excel</label>*@

                            <div class="row en preorder-show" style="padding-right: 10px">
                                @foreach (var day in listOrderSubmit)
                                {
                                    var breakfask_ckcode = day.Breakfast.Count() > 0 ? day.Breakfast[0].Ckcode : "0";
                                    <div class="col-md-6">
                                        <div class="card info-card sales-card order-day">
                                            @if (Permissions.Contains("ADMIN") || Permissions.Contains("ORDER_MANAGE"))
                                            {
                                                <span class="badge bg-primary btn-update"
                                                      data-bs-toggle="tooltip"
                                                      data-bs-placement="bottom"
                                                      data-bs-original-title="Update order"
                                                      orderDay="@day.Day"
                                                      currentMonth="@day.CurrentMonth"
                                                      breakfast="@breakfask_ckcode"
                                                      lunch="@day.Lunch[0].Ckcode"
                                                      afternoon="@day.Afternoon[0].Ckcode">
                                                    <i class="bi bi-star me-1"></i>Update
                                                </span>
                                            }

                                            <div class="card-body pre-order">
                                                <h5 class="card-title pt-1 pb-1">Day @day.Day/@day.CurrentMonth</h5>
                                                <div>
                                                    <p><b>Breakfast:</b></p>
                                                    @if (day.Breakfast.Count == 0)
                                                    {
                                                        <p class="pl-5"><i class="bx bxs-error"></i>: Do not choose breakfast</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="pl-5">
                                                            <i class="bx bx-cart"></i>: @day.Breakfast[0].NameEn
                                                            @if (day.Breakfast[0].Qty > 10)
                                                            {<b>(#@day.Breakfast[0].Qty)</b>}
                                                        </p>
                                                        <p class="pl-5"><i class="bx bx-plus"></i>: @day.Breakfast[1].NameEn</p>
                                                    }

                                                </div>
                                                <div>
                                                    <p><b>Lunch:</b></p>
                                                    <p class="pl-5">
                                                        <i class="bx bx-cart"></i>: @day.Lunch[0].NameEn
                                                        @if (day.Lunch[0].Qty > 10)
                                                        {<b>(#@day.Lunch[0].Qty)</b>}
                                                    </p>
                                                    <p class="pl-5"><i class="bx bx-plus"></i>: @day.Lunch[1].NameEn, @day.Lunch[2].NameEn, @day.Lunch[3].NameEn</p>
                                                </div>
                                                <div>
                                                    <p><b>Afternoon:</b></p>
                                                    <p class="pl-5">
                                                        <i class="bx bx-cart"></i>: @day.Afternoon[0].NameEn
                                                        @if (day.Afternoon[0].Qty > 10)
                                                        {<b>(#@day.Afternoon[0].Qty)</b>}
                                                    </p>
                                                    <p class="pl-5"><i class="bx bx-plus"></i>: @day.Afternoon[1].NameEn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>

                            <div class="row preorder-show vn" style="padding-right: 10px">
                                @foreach (var day in listOrderSubmit)
                                {
                                    var breakfask_ckcode = day.Breakfast.Count() > 0 ? day.Breakfast[0].Ckcode : "0";
                                    <div class="col-md-6">
                                        <div class="card info-card sales-card">
                                            @if (Permissions.Contains("ADMIN") || Permissions.Contains("ORDER_MANAGE"))
                                            {
                                                <span class="badge bg-primary btn-update order-day"
                                                      data-bs-toggle="tooltip"
                                                      data-bs-placement="bottom"
                                                      data-bs-original-title="Update order"
                                                      orderDay="@day.Day"
                                                      currentMonth="@day.CurrentMonth"
                                                      breakfast="@breakfask_ckcode"
                                                      lunch="@day.Lunch[0].Ckcode"
                                                      afternoon="@day.Afternoon[0].Ckcode">
                                                    <i class="bi bi-star me-1"></i>Update
                                                </span>
                                            }

                                            <div class="card-body pre-order">
                                                <h5 class="card-title pt-1 pb-1">Day @day.Day/@day.CurrentMonth</h5>
                                                <div>
                                                    <p><b>Breakfast:</b></p>
                                                    @if (day.Breakfast.Count == 0)
                                                    {
                                                        <p class="pl-5"><i class="bx bxs-error"></i>: Không chọn ăn sáng</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="pl-5">
                                                            <i class="bx bx-cart"></i>: @day.Breakfast[0].NameVn
                                                            @if (day.Breakfast[0].Qty > 10)
                                                            {<b>(#@day.Breakfast[0].Qty)</b>}
                                                        </p>
                                                        <p class="pl-5"><i class="bx bx-plus"></i>: @day.Breakfast[1].NameVn</p>
                                                    }

                                                </div>
                                                <div>
                                                    <p><b>Lunch:</b></p>
                                                    <p class="pl-5">
                                                        <i class="bx bx-cart"></i>: @day.Lunch[0].NameVn
                                                        @if (day.Lunch[0].Qty > 10)
                                                        {<b>(#@day.Lunch[0].Qty)</b>}
                                                    </p>
                                                    <p class="pl-5"><i class="bx bx-plus"></i>: @day.Lunch[1].NameVn, @day.Lunch[2].NameVn, @day.Lunch[3].NameVn</p>
                                                </div>
                                                <div>
                                                    <p><b>Afternoon:</b></p>
                                                    <p class="pl-5">
                                                        <i class="bx bx-cart"></i>: @day.Afternoon[0].NameVn
                                                        @if (day.Afternoon[0].Qty > 10)
                                                        {<b>(#@day.Afternoon[0].Qty)</b>}
                                                    </p>
                                                    <p class="pl-5"><i class="bx bx-plus"></i>: @day.Afternoon[1].NameVn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    }

                    else
                    {
                        @if (listOrderSubmit == null)
                        {
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <p>Please choose month and click View button</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <p>You have not made an order for this month. Please contact the canteen manager to order</p>
                                </div>
                            </div>
                        }
                    }

                </div>

            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        jQuery(document).ready(function () {
            $("#studentName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Action("GetAllParent", "Common")",
                        type: "POST",
                        dataType: "json",
                        data: { itemSearchText: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.name + " (" + item.parentId + ")",
                                    value: item.name,
                                    id: item.parentId
                                };
                            }))
                        }
                    })
                },
                select: function (event, ui) {
                    if (!$(this).data('keyHandled')) {
                        $("#parentId").val(ui.item.id);
                        return true;
                    }
                    return false;
                },
            });


            $("#ViewHistory").click(function () {
                var parentId = $("#parentId").val().trim();
                var monthSelected = $("#txtMonth").val().trim();
                window.location.href = "@Url.Action("History", "Orders")?parentId=" + parentId + "&month=" + monthSelected;
            });


            $(".btn-update").click(function () {
                var usercode = $("#parentId").val();
                var orderday = $(this).attr("orderday");
                var currentmonth = $(this).attr("currentmonth");
                var breakfast = $(this).attr("breakfast");
                var lunch = $(this).attr("lunch");
                var afternoon = $(this).attr("afternoon");
                var language = $("#language").val();

                $.confirm({
                    closeIcon: true,
                    title: 'Update order day: ' + orderday + "/" + currentmonth,
                    columnClass: 'col-md-8 col-md-offset-2',
                    content: function () {
                        var self = this;
                        return $.ajax({
                            url: '@Url.Action("GetUpdateOrder", "Orders")',
                            dataType: 'json',
                            method: 'GET',
                            data: {
                               language: language,
                               usercode: usercode,
                               orderday: orderday,
                               currentmonth: currentmonth,
                               breakfast: breakfast,
                               lunch: lunch,
                               afternoon: afternoon
                            }
                        }).done(function (rs) {
                            var bf_Select_op = "<div class='pl-4 bf_Select_op'>" + rs.bf_op_text + "</div>";
                            var bf_Select = "<p><b>Breakfast:</b></p><select class='custom-select' id='bf_Select' name='bf_Select'>";
                            rs.bf_html.forEach((item) => {
                                if (breakfast == item.value) {
                                    bf_Select = bf_Select + "<option value='" + item.value + "' selected>" + item.text + "</option>";
                                } else {
                                    bf_Select = bf_Select + "<option value='" + item.value + "'>" + item.text + "</option>";
                                }
                            })
                            bf_Select = bf_Select + "</select>";


                            var ln_Select_op = "<div class='pl-4'>" + rs.ln_op_text + "</div>";
                            var ln_Select = "<p><b>Lunch:</b></p><select class='custom-select' id='ln_Select' name='ln_Select'>";
                            rs.ln_html.forEach((item) => {
                                if (lunch == item.value) {
                                    ln_Select = ln_Select + "<option value='" + item.value + "' selected>" + item.text + "</option>";
                                } else {
                                    ln_Select = ln_Select + "<option value='" + item.value + "'>" + item.text + "</option>";
                                }
                            })
                            ln_Select = ln_Select + "</select>"


                            var af_Select_op = "<div class='pl-4'>" + rs.af_op_text + "</div>";
                            var af_Select = "<p><b>Afternoon:</b></p><select class='custom-select' id='af_Select' name='af_Select'>";
                            rs.af_html.forEach((item) => {
                                if (afternoon == item.value) {
                                    af_Select = af_Select + "<option value='" + item.value + "' selected>" + item.text + "</option>";
                                } else {
                                    af_Select = af_Select + "<option value='" + item.value + "'>" + item.text + "</option>";
                                }
                            })
                            af_Select = af_Select + "</select>"


                            var html = "";
                            html = html + bf_Select + bf_Select_op + ln_Select + ln_Select_op + af_Select + af_Select_op;
                            self.setContent(html);
                        });
                    },
                    onContentReady: function () {
                        // when content is fetched & rendered in DOM
                        if ($("#bf_Select").val() == "0") {
                            $(".bf_Select_op").hide();
                        } else {
                            $(".bf_Select_op").show();
                        }
                        $("#bf_Select").change(function () {
                            if ($("#bf_Select").val() == "0") {
                                $(".bf_Select_op").hide();
                            } else {
                                $(".bf_Select_op").show();
                            }
                        });
                    },
                    buttons: {
                        Exit: function () {
                        },
                        Update: {
                            btnClass: 'btn-primary',
                            action: function () {
                                    var bf_s = $("#bf_Select").val();
                                    var ln_s = $("#ln_Select").val();
                                    var af_s = $("#af_Select").val();
                                    $.ajax({
                                        url: '@Url.Action("UpdateOrder", "Orders")',
                                        type: "POST",
                                        dataType: "json",
                                        data: {
                                            usercode: usercode,
                                            orderday: orderday,
                                            currentmonth: currentmonth,
                                            breakfast: bf_s,
                                            lunch: ln_s,
                                            afternoon: af_s
                                        },
                                        success: function (data) {
                                            if (data.success) {
                                                $.confirm({
                                                    title: 'Successfully!',
                                                    content: data.message,
                                                    type: 'green',
                                                    typeAnimated: true,
                                                    buttons: {
                                                        Ok: {
                                                            btnClass: 'btn-success',
                                                            action: function () {
                                                                window.location.reload();
                                                            }
                                                        },
                                                    }
                                                });
                                            }
                                            else {
                                                $.confirm({
                                                    title: 'Error!',
                                                    content: data.message,
                                                    type: 'red',
                                                    typeAnimated: true,
                                                    buttons: {
                                                        Ok: {
                                                            btnClass: 'btn-red',
                                                            action: function () {

                                                            }
                                                        },
                                                    }
                                                });
                                            }
                                        }
                                    });
                                }
                        },
                    }
                });
            })



            // Init Language
            if ($("#language").val() === "vn") {
                $(".title-en").hide();
                $(".en").hide();
            }
            else {
                $(".title-vn").hide();
                $(".vn").hide();
            }

            // Language handle
            $('#language').on('change', function (e) {
                var language = $("#language").val();
                if (language === "vn") {
                    $(".en").hide();
                    $(".vn").show();
                } else {
                    $(".vn").hide();
                    $(".en").show();
                }
            });
        });


        function ExportFile(type) {
            var parentId = $("#parentId").val().trim();
            var monthSelected = $("#txtMonth").val().trim();
            $.confirm({
                closeIcon: true,
                type: 'green',
                typeAnimated: true,
                boxWidth: '350px',
                useBootstrap: false,
                offsetTop: 0,
                title: 'Export order: ' + monthSelected,
                content: function () {
                    var self = this;
                    return $.ajax({
                        url: '@Url.Action("GetListDayExport", "Orders")',
                        data: { month: monthSelected },
                        dataType: 'json',
                        method: 'GET'
                    }).done(function (response) {
                        self.setContent(response.html);
                    })
                },
                buttons: {
                    ChooseAgain: {
                        text: 'Cancel',
                        btnClass: 'btn-red',
                        action: function () {
                        }
                    },
                    Submit: {
                        text: 'Export',
                        btnClass: 'btn-success',
                        action: function () {
                            var SelectDay = $("#SelectDay").val();
                            $.ajax({
                                url: '@Url.Action("ExportFile", "Orders")',
                                type: "POST",
                                dataType: "json",
                                data: { parentId: parentId, month: monthSelected, selectDay: SelectDay, type: type},
                                success: function (data) {
                                    if (data.success) {
                                        $.confirm({
                                            title: 'Successfully!',
                                            content: data.message,
                                            type: 'green',
                                            typeAnimated: true,
                                            buttons: {
                                                Ok: {
                                                    btnClass: 'btn-success',
                                                    action: function () {

                                                    }
                                                },
                                            }
                                        });
                                    }
                                    else {
                                        $.confirm({
                                            title: 'Error!',
                                            content: data.message,
                                            type: 'red',
                                            typeAnimated: true,
                                            buttons: {
                                                Ok: {
                                                    btnClass: 'btn-red',
                                                    action: function () {

                                                    }
                                                },
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    },
                }
            });
        }
    </script>
}