@using UTS_Portal.ViewModels;
@{
    string ParentId = ViewBag.ParentId;
    string StudentName = ViewBag.StudentName;
    var SelectBoxOrderMonth = ViewBag.SelectBoxOrderMonth;
    string RoleName = User.Claims.FirstOrDefault(x => x.Type.Equals("RoleName", StringComparison.OrdinalIgnoreCase))?.Value;
    string isDisabled = RoleName == "Parent" ? "disabled" : "";

    List<OrderSubmit> listOrderSubmit = ViewBag.ListOrderSubmit;

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/css/custom-order.css" rel="stylesheet" />
    <style>
        .hide {
            display: none;
        }

        .pre-order p {
            margin-bottom: 0px;
        }

        .bx {
            color: #4154f1;
            font-size: 23px;
            line-height: 0;
        }

        .order-qty {
            padding: 0;
            border: none;
            background-color: antiquewhite;
        }
    </style>
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home"></i>Orders</a>
            <span class="breadcrumb-item active">User: @ParentId</span>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card order-table">
            <div class="card-body">
                <h1 class="pt-0 text-center">Order history</h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Student:</label>
                        <input name="studentName" id="studentName" class="form-control" value="@StudentName" @isDisabled />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Parent code:</label>
                        <input name="parentId" id="parentId" class="form-control" value="@ParentId" disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Month:</label>
                        <select class="custom-select" id="txtMonth" name="txtMonth" asp-items="@SelectBoxOrderMonth">
                        </select>
                    </div>
                    <div class="col-md-2 d-grid">
                        <label class="control-label">Action:</label>
                        <label class="form-control btn btn-primary" id="ViewHistory" style="width: 100px">View</label>
                    </div>

                    @if (listOrderSubmit != null && listOrderSubmit.Count > 0)
                    {
                        <div class="col-md-12 mt-4">
                            <label>Choose language: </label>
                            <select class="custom-select mt-3 mb-3 mr-3" id="language" name="language" style="width: 200px;">
                                <option value="vn">Vietnamese</option>
                                <option value="en" selected>English</option>
                            </select>
                            <div class="row en" style="padding-right: 10px">
                                @foreach (var day in listOrderSubmit)
                                {
                                    <div class="col-md-6">
                                        <div class="card info-card sales-card">
                                            <div class="card-body pre-order">
                                                <h5 class="card-title pt-1 pb-1">Day @day.Day/@day.CurrentMonth</h5>
                                                <div>
                                                    <p><b>Breakfast:</b></p>
                                                    @if (day.Breakfast.Count == 0)
                                                    {
                                                        <p class="pl-5"><i class="bx bxs-error"></i>: Do not choose breakfast</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="pl-5">
                                                            <i class="bx bx-cart"></i>: @day.Breakfast[0].NameEn
                                                            @if (day.Breakfast[0].Qty > 10)
                                                            {<b>(#@day.Breakfast[0].Qty)</b>}
                                                        </p>
                                                        <p class="pl-5"><i class="bx bx-plus"></i>: @day.Breakfast[1].NameEn</p>
                                                    }

                                                </div>
                                                <div>
                                                    <p><b>Lunch:</b></p>
                                                    <p class="pl-5">
                                                        <i class="bx bx-cart"></i>: @day.Lunch[0].NameEn
                                                        @if (day.Lunch[0].Qty > 10)
                                                        {<b>(#@day.Lunch[0].Qty)</b>}
                                                    </p>
                                                    <p class="pl-5"><i class="bx bx-plus"></i>: @day.Lunch[1].NameEn, @day.Lunch[2].NameEn, @day.Lunch[3].NameEn</p>
                                                </div>
                                                <div>
                                                    <p><b>Afternoon:</b></p>
                                                    <p class="pl-5">
                                                        <i class="bx bx-cart"></i>: @day.Afternoon[0].NameEn
                                                        @if (day.Afternoon[0].Qty > 10)
                                                        {<b>(#@day.Afternoon[0].Qty)</b>}
                                                    </p>
                                                    <p class="pl-5"><i class="bx bx-plus"></i>: @day.Afternoon[1].NameEn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>

                            <div class="row vn" style="padding-right: 10px">
                                @foreach (var day in listOrderSubmit)
                                {
                                    <div class="col-md-6">
                                        <div class="card info-card sales-card">
                                            <div class="card-body pre-order">
                                                <h5 class="card-title pt-1 pb-1">Day @day.Day/@day.CurrentMonth</h5>
                                                <div>
                                                    <p><b>Breakfast:</b></p>
                                                    @if (day.Breakfast.Count == 0)
                                                    {
                                                        <p class="pl-5"><i class="bx bxs-error"></i>: Không chọn ăn sáng</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="pl-5">
                                                            <i class="bx bx-cart"></i>: @day.Breakfast[0].NameVn
                                                            @if (day.Breakfast[0].Qty > 10)
                                                            {<b>(#@day.Breakfast[0].Qty)</b>}
                                                        </p>
                                                        <p class="pl-5"><i class="bx bx-plus"></i>: @day.Breakfast[1].NameVn</p>
                                                    }

                                                </div>
                                                <div>
                                                    <p><b>Lunch:</b></p>
                                                    <p class="pl-5">
                                                        <i class="bx bx-cart"></i>: @day.Lunch[0].NameVn
                                                        @if (day.Lunch[0].Qty > 10)
                                                        {<b>(#@day.Lunch[0].Qty)</b>}
                                                    </p>
                                                    <p class="pl-5"><i class="bx bx-plus"></i>: @day.Lunch[1].NameVn, @day.Lunch[2].NameVn, @day.Lunch[3].NameVn</p>
                                                </div>
                                                <div>
                                                    <p><b>Afternoon:</b></p>
                                                    <p class="pl-5">
                                                        <i class="bx bx-cart"></i>: @day.Afternoon[0].NameVn
                                                        @if (day.Afternoon[0].Qty > 10)
                                                        {<b>(#@day.Afternoon[0].Qty)</b>}
                                                    </p>
                                                    <p class="pl-5"><i class="bx bx-plus"></i>: @day.Afternoon[1].NameVn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    }

                    else
                    {
                        @if (listOrderSubmit == null)
                        {
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <p>Please choose month and click View button</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <p>No data for month and day. Please contact the canteen manager to order</p>
                                </div>
                            </div>
                        }
                    }

                </div>

            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        jQuery(document).ready(function () {
            $("#studentName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Action("GetAllParent", "Common")",
                        type: "POST",
                        dataType: "json",
                        data: { itemSearchText: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.name + " (" + item.parentId + ")",
                                    value: item.name,
                                    id: item.parentId
                                };
                            }))
                        }
                    })
                },
                select: function (event, ui) {
                    if (!$(this).data('keyHandled')) {
                        $("#parentId").val(ui.item.id);
                        return true;
                    }
                    return false;
                },
            });


            $("#ViewHistory").click(function () {
                var parentId = $("#parentId").val().trim();
                var monthSelected = $("#txtMonth").val().trim();
                window.location.href = "@Url.Action("History", "Orders")?parentId=" + parentId + "&month=" + monthSelected;
            });



            // Init Language
            if ($("#language").val() === "vn") {
                $(".title-en").hide();
                $(".en").hide();
            }
            else {
                $(".title-vn").hide();
                $(".vn").hide();
            }

            // Language handle
            $('#language').on('change', function (e) {
                var language = $("#language").val();
                if (language === "vn") {
                    $(".en").hide();
                    $(".vn").show();
                } else {
                    $(".vn").hide();
                    $(".en").show();
                }
            });
        });
    </script>
}