@using UTS_Portal.ViewModels;
@{
    string CurrentMonth = ViewBag.CurrentMonth;
    string SelectBoxElement = ViewBag.SelectBoxElement;
    List<CalendarMonth> CalendarMonth = ViewBag.CalendarMonth;
    List<MenusByMonth> MenusByMonth = ViewBag.MenusByMonth;
    var HasMenuData = ViewBag.HasMenuData;

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/css/custom-order.css" rel="stylesheet" />
    <style>
        .hide {
            display: none;
        }
        .pre-order p {
            margin-bottom: 0px;
        }

        .bx {
            color: #4154f1;
            font-size: 23px;
            line-height: 0;
        }

        .order-qty {
            padding: 0;
            border: none;
            background-color: antiquewhite;
        }
    </style>
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home"></i>Orders</a>
            <span class="breadcrumb-item active">Month: @CurrentMonth</span>
        </nav>
    </div>
</div>
@if (@CurrentMonth != null && HasMenuData)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card order-table">
                <div class="card-body">
                    <h1 class="pt-0 text-center">Menu @CurrentMonth</h1>
                    <h4 class="pt-0 text-center">(@CalendarMonth.First().DateMonth - @CalendarMonth.Last().DateMonth)</h4>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        @for (int Week = 1; Week <= CalendarMonth.Last().Week; Week++)
                        {
                            var Active = Week == 1 ? "active" : "";
                            var TabName = "Week" + Week;
                            <li class="nav-item">
                                <button class="nav-link @Active" data-bs-toggle="tab" data-bs-target="#@TabName">
                                    Week @Week
                                </button>
                            </li>
                        }
                    </ul>
                    <div class="tab-content pt-2" id="myTabContent">
                        <input type="hidden" id="ListDaySelect" value="@string.Join( ',', CalendarMonth.Where(x => !x.IsHoliday).Select(x => x.Day).ToList())" />
                        <input type="hidden" id="CurrentMonth" value="@CurrentMonth" />

                        <label>Choose language: </label>
                        <select class="custom-select mt-3 mb-3 mr-3" id="language" name="language" style="width: 200px;">
                            <option value="vn">Vietnamese</option>
                            <option value="en" selected>English</option>
                        </select>
                        <button class="btn btn-primary" id="btn-submit" data-bs-toggle="modal" data-bs-target="#ReviewOrder">Submit</button>

                        @for (int Week = 1; Week <= CalendarMonth.Last().Week; Week++)
                        {
                            var Active = Week == 1 ? "active" : "";
                            var TabName = "Week" + Week;
                            <div class="tab-pane fade show @Active" id="@TabName">
                                <div class="d-flex text-center">
                                    <div class="meal-title font-weight-bold">
                                        <div class="tb-header font-weight-bold">
                                            <p class="title-vn">BỮA ĂN</p>
                                            <p class="title-en">MEALS</p>
                                        </div>
                                        <div class="title-breakfast">
                                            <p class="breakfast-1 title-vn">Bữa sáng chọn 1 trong 2</p>
                                            <p class="breakfast-1 title-en">Breakfast choose 1 of 2</p>

                                            <p class="title-vn breakfast-op">Sữa cho buổi sáng </p>
                                            <p class="title-en breakfast-op"> Milk</p>
                                        </div>
                                        <div class="title-lunch d-flex">
                                            <div class="flex-fill w-25">
                                                <p class="h-100 border-bottom-0 title-vn">Bữa trưa</p>
                                                <p class="h-100 border-bottom-0 title-en">Lunch</p>
                                            </div>
                                            <div class="flex-fill w-75">
                                                <p class="title-vn">Lựa chọn món nước</p>
                                                <p class="title-en">Option Noodle</p>

                                                <p class="title-vn">Lựa chọn món Việt </p>
                                                <p class="title-en"> Option VietNam</p>

                                                <p class="title-vn">Lựa chọn món Á</p>
                                                <p class="title-en">Option Asian</p>

                                                <p class="title-vn">Lựa chọn món Tây</p>
                                                <p class="title-en">Option Western</p>

                                                <p class="title-vn">Lựa chọn món Chay</p>
                                                <p class="title-en">Option Vegetarian</p>

                                                <p class="title-vn">Món Rau</p>
                                                <p class="title-en">Vegetable</p>

                                                <p class="title-vn">Canh</p>
                                                <p class="title-en">Soup</p>

                                                <p class="title-vn">Tráng miệng</p>
                                                <p class="title-en">Deser</p>
                                            </div>
                                        </div>
                                        <div class="title-afternoon">
                                            <p class="breakfast-1 title-vn">Ăn nhẹ</p>
                                            <p class="breakfast-1 title-en">Afternoon snack</p>
                                        </div>
                                    </div>
                                    @foreach (var day in CalendarMonth.Where(x => x.Week == Week).ToList())
                                    {
                                        if (@day.DateString == "Saturday" || @day.DateString == "Sunday") continue;
                                        if (@day.IsHoliday)
                                        {
                                            <div class="day @day.DateString holiday">
                                                <div class="tb-header font-weight-bold">
                                                    <p>@day.DateString.Substring(0, 3) (@day.DateMonth)</p>
                                                </div>
                                                <div class="breakfast">
                                                    <p></p>
                                                    <p></p>
                                                    <p class="breakfast-op"></p>
                                                </div>
                                                <div class="lunch">
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                </div>
                                                <div class="afternoon">
                                                    <p></p>
                                                    <p></p>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            @* Get data menus *@
                                            var MenuDay = MenusByMonth.Where(x => x.DateMonth == day.DateMonth).First();
                                            var BfData = MenuDay.Noon.Where(x => x.Noon == 1).First().Menus;
                                            var LnData = MenuDay.Noon.Where(x => x.Noon == 2).First().Menus;
                                            var AfData = MenuDay.Noon.Where(x => x.Noon == 3).First().Menus;

                                            <div class="day @day.DateString">
                                                <div class="tb-header font-weight-bold">
                                                    <p>@day.DateString.Substring(0, 3) (@day.DateMonth)</p>
                                                </div>

                                                <div class="breakfast">
                                                    @{int i = 1;}
                                                    @foreach (var item in BfData.Where(x => x.IsBundled == 0))
                                                    {
                                                        <input type="radio"
                                                           id="breakfast-@i-@day.Day"
                                                           name="breakfast-@day.Day"
                                                           origin-name="@item.OriginalName"
                                                           name-vn="@item.ItemNameVn"
                                                           name-en="@item.ItemNameEn"
                                                           qty="@item.Qty"
                                                           Ckcode="@item.Ckcode"
                                                           value="@item.ItemCode" />
                                                        <label class="vn" for="breakfast-@i-@day.Day">@item.ItemNameVn
                                                            <select class="order-qty" name="breakfast-@i-@day.Day">
                                                                <option value="1" selected>1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </label>
                                                        <label class="en" for="breakfast-@i-@day.Day">@item.ItemNameEn
                                                            <select class="order-qty" name="breakfast-@i-@day.Day">
                                                                <option value="1" selected>1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </label>
                                                        i++;
                                                    }

                                                    @*Món phụ*@
                                                    @{i = 1;}
                                                    @foreach (var item in BfData.Where(x => x.IsBundled == 1))
                                                    {
                                                        <input type="checkbox" id="breakfast-op-@i-@day.Day" name="breakfast-op-@day.Day" origin-name="@item.OriginalName" name-vn="@item.ItemNameVn" name-en="@item.ItemNameEn" qty="@item.Qty" Ckcode="@item.Ckcode" value="@item.ItemCode" />
                                                        <label class="vn breakfast-op" for="breakfast-op-@i-@day.Day" name="breakfast-op-@day.Day">@item.ItemNameVn</label>
                                                        <label class="en breakfast-op" for="breakfast-op-@i-@day.Day" name="breakfast-op-@day.Day">@item.ItemNameEn</label>
                                                        i++;
                                                    }
                                                </div>

                                                <div class="lunch">
                                                    @{i = 1;}
                                                    @foreach (var item in LnData.Where(x => x.IsBundled == 0))
                                                    {
                                                        <input type="radio" id="lunch-@i-@day.Day" name="lunch-@day.Day" origin-name="@item.OriginalName" name-vn="@item.ItemNameVn" name-en ="@item.ItemNameEn" qty="@item.Qty" Ckcode="@item.Ckcode" value="@item.ItemCode" />
                                                        <label class="vn" for="lunch-@i-@day.Day">@item.ItemNameVn
                                                            <select class="order-qty" name="lunch-@i-@day.Day">
                                                                <option value="1" selected>1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </label>
                                                        <label class="en" for="lunch-@i-@day.Day">@item.ItemNameEn
                                                            <select class="order-qty" name="lunch-@i-@day.Day">
                                                                <option value="1" selected>1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </label>
                                                        i++;
                                                    }


                                                    @for (int k = i; k <= 5; k++)
                                                    {
                                                        <label class="text-white">No Item</label>
                                                    }



                                                    @*Món phụ*@
                                                    @{i = 1;}
                                                    @foreach (var item in LnData.Where(x => x.IsBundled == 1))
                                                    {
                                                        <input type="checkbox" id="lunch-op-@i-@day.Day" name="lunch-op-@day.Day" origin-name="@item.OriginalName" name-vn="@item.ItemNameVn" name-en ="@item.ItemNameEn" qty="@item.Qty" Ckcode="@item.Ckcode" value="@item.ItemCode" />
                                                        <label class="vn" for="lunch-op-@i-@day.Day" name="lunch-op-@day.Day">@item.ItemNameVn</label>
                                                        <label class="en" for="lunch-op-@i-@day.Day" name="lunch-op-@day.Day">@item.ItemNameEn</label>
                                                        i++;
                                                    }
                                                </div>

                                                <div class="afternoon">
                                                    @{i = 1;}
                                                    @foreach (var item in AfData.Where(x => x.IsBundled == 0))
                                                    {
                                                        <input type="radio" id="afternoon-@i-@day.Day" name="afternoon-@day.Day" origin-name="@item.OriginalName" name-vn="@item.ItemNameVn" name-en ="@item.ItemNameEn" qty="@item.Qty" Ckcode="@item.Ckcode" value="@item.ItemCode" />
                                                        <label class="vn" for="afternoon-@i-@day.Day">@item.ItemNameVn</label>
                                                        <label class="en" for="afternoon-@i-@day.Day">@item.ItemNameEn</label>
                                                        i++;
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }

                        @*Review order modal*@
                        @*<div class="modal fade" id="ReviewOrder" tabindex="-1" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Review your order</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body OrderContent"></div>
                                    <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button></div>
                                </div>
                            </div>
                        </div>*@
                        <div class="hide">
                            <div class="ReviewOrder">
                                <div class="row">
                                    @for (int i = 1; i <= 20; i++)
                                    {
                                        <div class="col-md-6">
                                            <div class="card info-card sales-card">
                                                <div class="card-body pre-order">
                                                    <h5 class="card-title pt-1 pb-1">Day @i/08</h5>
                                                    <div>
                                                        <p><b>Breakfast:</b></p>
                                                        <p class="pl-5"><i class="bx bx-cart"></i>: Stir-fried yellow noodle with seafood Test </p>
                                                        <p class="pl-5"><i class="bx bx-plus"></i>: Stir-fried yellow noodle with seafood Test</p>
                                                    </div>
                                                    <div>
                                                        <p><b>Lunch:</b></p>
                                                        <p class="pl-5"><i class="bx bx-cart"></i>: Stir-fried yellow noodle with seafood Test</p>
                                                        <p class="pl-5"><i class="bx bx-plus"></i>: Stir-fried yelloStir-fried yellow noodle with seafood Test, Thịt xá xíu, Bánh bao xá xíu miniw noodle with seafood Test, Thịt xá xíu, Bánh bao xá xíu mini </p>
                                                    </div>
                                                    <div>
                                                        <p><b>Afternoon:</b></p>
                                                        <p class="pl-5"><i class="bx bx-cart"></i>: Stir-fried yellow noodle with seafood Test</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts{
    <script src="~/js/custom-order.js"></script>
    <script>
        jQuery(document).ready(function () {
            if ('@CurrentMonth' == '') {
                $.confirm({
                    title: 'Select month for order!',
                    content: "@Html.Raw(SelectBoxElement)",
                    buttons: {
                        confirm: function () {
                            var monthSelected = $("#txtMonthSelect").val();
                            window.location.href = "@Url.Action("Index","Orders")?month=" + monthSelected;
                        },
                        cancel: function () {
                           window.location.href = "@Url.Action("Index","Home")";
                        },
                    }
                });
            }

            //Handle submition
            $("#btn-submit").click(function () {
                var CurrentMonth = $("#CurrentMonth").val();
                var month = []; // my array
                var errors = [];

                var listDayStr = $("#ListDaySelect").val();
                var listDay = listDayStr.split(",");
                listDay.forEach(function (day) {
                    var list_bf = [];
                    var list_ln = [];
                    var list_af = [];

                    var br_selected = $('input[name=breakfast-' + day + ']:checked');
                    if (br_selected.val() != undefined) {
                        var bf = {
                            Code: br_selected.val(),
                            OriginName: br_selected.attr("origin-name"),
                            NameVn: br_selected.attr("name-vn"),
                            NameEn: br_selected.attr("name-en"),
                            Qty: br_selected.attr("qty"),
                            Ckcode: br_selected.attr("Ckcode"),
                            Bundled: 0
                        }
                        list_bf.push(bf)
                    }

                    var br_op_selected = $('input[name=breakfast-op-' + day + ']:checked');
                    if (br_op_selected.val() != undefined) {
                        var bf_op = {
                            Code: br_op_selected.val(),
                            OriginName: br_op_selected.attr("origin-name"),
                            NameVn: br_op_selected.attr("name-vn"),
                            NameEn: br_op_selected.attr("name-en"),
                            Qty: br_op_selected.attr("qty"),
                            Ckcode: br_op_selected.attr("Ckcode"),
                            Bundled: 1
                        }
                        list_bf.push(bf_op)
                    }


                    var ln_selected = $('input[name=lunch-' + day + ']:checked');
                    if (ln_selected.val() != undefined) {
                        var ln = {
                            Code: ln_selected.val(),
                            OriginName: ln_selected.attr("origin-name"),
                            NameVn: ln_selected.attr("name-vn"),
                            NameEn: ln_selected.attr("name-en"),
                            Qty: ln_selected.attr("qty"),
                            Ckcode: ln_selected.attr("Ckcode"),
                            Bundled: 0
                        }
                        list_ln.push(ln);
                    }

                    $('input[name=lunch-op-' + day + ']:checked').each(function () {
                        var item = {
                            Code: $(this).val(),
                            OriginName: $(this).attr("origin-name"),
                            NameVn: $(this).attr("name-vn"),
                            NameEn: $(this).attr("name-en"),
                            Qty: $(this).attr("qty"),
                            Ckcode: $(this).attr("Ckcode"),
                            Bundled: 1
                        };
                        list_ln.push(item);
                    });


                    var af_selected = $('input[name=afternoon-' + day + ']:checked');
                    if (af_selected.val() != undefined) {
                        var af = {
                            Code: af_selected.val(),
                            OriginName: af_selected.attr("origin-name"),
                            NameVn: af_selected.attr("name-vn"),
                            NameEn: af_selected.attr("name-en"),
                            Qty: af_selected.attr("qty"),
                            Ckcode: af_selected.attr("Ckcode"),
                            Bundled: 0
                        }
                        list_af.push(af);
                    }


                    if (list_bf.length != 2) {
                        errors.push("You need to choose a breakfast dish for " + day + "/" + CurrentMonth);
                    }

                    if (list_ln.length != 4) {
                        errors.push("You need to choose a lunch dish for " + day + "/" + CurrentMonth);
                    }

                    month.push(
                        {
                            Day: day,
                            CurrentMonth: CurrentMonth,
                            Breakfast: list_bf,
                            Lunch: list_ln,
                            Afternoon: list_af
                        }
                    )
                });

                if (errors.length > 0) {
                    var error_html = "<ul>";
                    errors.forEach(function (er) {
                        error_html = error_html + "<li>" + er + "</li>";
                    });
                    error_html = error_html + "</ul>";

                    $.confirm({
                        closeIcon: true,
                        columnClass: 'col-md-12',
                        type: 'red',
                        typeAnimated: true,
                        icon: 'fa fa-warning',
                        title: 'You need to complete the food selection for the whole month',
                        content: error_html,
                        buttons: {
                            ChooseAgain: {
                                text: 'Choose Again',
                                btnClass: 'btn-red',
                                action: function () {
                                }
                            },
                        }
                    });
                }
                else
                {
                    var language = $("#language").val();
                    var order_html = "";
                    if (language === "vn")
                    {
                        order_html = BuildReviewOrderNameVn(month);
                    }
                    if (language === "en") {
                        order_html = BuildReviewOrderNameEn(month);
                    }
                    $.confirm({
                        closeIcon: true,
                        boxWidth: '80%',
                        useBootstrap: false,
                        type: 'green',
                        typeAnimated: true,
                        icon: 'fa fa-success',
                        title: 'Review order',
                        content: order_html,
                        buttons: {
                            ChooseAgain: {
                                text: 'Choose Again',
                                btnClass: 'btn-red',
                                action: function () {
                                }
                            },
                            Submit: {
                                text: 'Ok and Submit',
                                btnClass: 'btn-success',
                                action: function () {
                                    console.log(month);
                                    $.ajax({
                                        url: '@Url.Action("OrderSubmit", "Orders")',
                                        type: "POST",
                                        dataType: "json",
                                        data: { orderSubmit: month },
                                        success: function (data) {
                                            if (data.success) {
                                                $.alert(data.message);
                                            } else {
                                                $.alert(data.message);
                                            }
                                        }
                                    });
                                }
                            },
                        }
                    });
                }

                @*$(".OrderContent").html(listDayStr);*@
            });
        });

        function BuildReviewOrderNameVn(monthOrder) {
            var html = "";
            html = html + '<div class="row">';
            monthOrder.forEach(function (d) {
                html = html + '<div class="col-md-6">';
                html = html + '<div class="card info-card sales-card">';
                html = html + '<div class="card-body pre-order">';
                html = html + '<h5 class="card-title pt-1 pb-1">Day ' + d.Day + '/' + d.CurrentMonth + '</h5>';
                html = html + '<div>';
                html = html + '<p><b>Breakfast:</b></p>';
                if (d.Breakfast[0].Qty == 1) {
                    html = html + '<p class="pl-5"><i class="bx bx-cart"></i>: ' + d.Breakfast[0].NameVn + '</p>';
                } else {
                    html = html + '<p class="pl-5"><i class="bx bx-cart"></i>: ' + d.Breakfast[0].NameVn + ' <b> (#' + d.Breakfast[0].Qty + ')</b></p>';
                }
                html = html + '<p class="pl-5"><i class="bx bx-plus"></i>: ' + d.Breakfast[1].NameVn + '</p>';
                html = html + '</div>';
                html = html + '<div>';
                html = html + '<p><b>Lunch:</b></p>';
                if (d.Lunch[0].Qty == 1) {
                    html = html + '<p class="pl-5"><i class="bx bx-cart"></i>: ' + d.Lunch[0].NameVn + '</p>';
                } else {
                    html = html + '<p class="pl-5"><i class="bx bx-cart"></i>: ' + d.Lunch[0].NameVn + ' <b> (#' + d.Lunch[0].Qty + ')</b></p>';
                }
                html = html + '<p class="pl-5"><i class="bx bx-plus"></i>: ' + d.Lunch[1].NameVn + ', ' + d.Lunch[2].NameVn + ', ' + d.Lunch[3].NameVn + ' </p>';
                html = html + '</div>';
                html = html + '<div>';
                html = html + '<p><b>Afternoon:</b></p>';
                if (d.Afternoon.length == 0) {
                    html = html + '<p class="pl-5"><i class="bx bx-cart"></i></p>';
                }
                if (d.Afternoon.length == 1) {
                    html = html + '<p class="pl-5"><i class="bx bx-cart"></i>: ' + d.Afternoon[0].NameVn + '</p>';
                }
                html = html + '</div>';
                html = html + '</div>';
                html = html + '</div>';
                html = html + '</div>';
            });
            html = html + '</div>';
            return html;
        }

        function BuildReviewOrderNameEn(monthOrder) {
            var html = "";
            html = html + '<div class="row">';
            monthOrder.forEach(function (d) {
                html = html + '<div class="col-md-6">';
                html = html + '<div class="card info-card sales-card">';
                html = html + '<div class="card-body pre-order">';
                html = html + '<h5 class="card-title pt-1 pb-1">Day ' + d.Day + '/' + d.CurrentMonth + '</h5>';
                html = html + '<div>';
                html = html + '<p><b>Breakfast:</b></p>';
                if (d.Breakfast[0].Qty == 1) {
                    html = html + '<p class="pl-5"><i class="bx bx-cart"></i>: ' + d.Breakfast[0].NameEn + '</p>';
                } else {
                    html = html + '<p class="pl-5"><i class="bx bx-cart"></i>: ' + d.Breakfast[0].NameEn + ' <b> (#' + d.Breakfast[0].Qty + ')</b></p>';
                }
                html = html + '<p class="pl-5"><i class="bx bx-plus"></i>: ' + d.Breakfast[1].NameEn + '</p>';
                html = html + '</div>';
                html = html + '<div>';
                html = html + '<p><b>Lunch:</b></p>';
                if (d.Lunch[0].Qty == 1) {
                    html = html + '<p class="pl-5"><i class="bx bx-cart"></i>: ' + d.Lunch[0].NameEn + '</p>';
                } else {
                    html = html + '<p class="pl-5"><i class="bx bx-cart"></i>: ' + d.Lunch[0].NameEn + ' <b> (#' + d.Lunch[0].Qty + ')</b></p>';
                }
                html = html + '<p class="pl-5"><i class="bx bx-plus"></i>: ' + d.Lunch[1].NameEn + ', ' + d.Lunch[2].NameEn + ', ' + d.Lunch[3].NameEn + ' </p>';
                html = html + '</div>';
                html = html + '<div>';
                html = html + '<p><b>Afternoon:</b></p>';
                if (d.Afternoon.length == 0) {
                    html = html + '<p class="pl-5"><i class="bx bx-cart"></i></p>';
                }
                if (d.Afternoon.length == 1) {
                    html = html + '<p class="pl-5"><i class="bx bx-cart"></i>: ' + d.Afternoon[0].NameEn + '</p>';
                }
                html = html + '</div>';
                html = html + '</div>';
                html = html + '</div>';
                html = html + '</div>';
            });
            html = html + '</div>';
            return html;
        }
    </script>
}