@using UTS_Portal.ViewModels;
@{
    string CurrentMonth = ViewBag.CurrentMonth;
    string SelectBoxElement = ViewBag.SelectBoxElement;
    List<CalendarMonth> calendarMonth = ViewBag.CalendarMonth;

    string language = "English";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        .nav-link.active {
            color: #fff !important;
            background-color: #0d6efd !important;
        }

        .meal-title {
            background-color: beige;
            min-width: 225px;
        }

        .day {
            max-width: 400px;
        }

        .day p, .day label, .meal-title p, .meal-title label {
            width: 100%;
            border: solid 1px #ddd;
            border-right: 0;
            margin: 0;
            margin-left: -1px;
            margin-top: -1px;
            padding: 0 2px;
            height: 55px;
        }

        .breakfast-1 {
            height: 109px !important;
        }

        .holiday p, .holiday label {
            width: 85px;
        }

        .day:last-child {
            border-right: solid 1px #ddd;
        }

        .tb-header {
            background-color: #FF8302;
        }

        .breakfast, .lunch, .title-breakfast, .title-lunch {
            border-bottom: solid 2px bisque;
        }

        label {
            cursor: pointer;
        }


        @@media only screen and (max-width: 1600px) {
            .day p, .day label, .meal-title p, .meal-title label {
                height: 80px;
            }

            .breakfast-1 {
                height: 159px !important;
            }
        }



        input {
            display: none;
        }

            input[type=radio]:checked + label, input[type=checkbox]:checked + label {
                color: #0d6efd;
            }
    </style>
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home"></i>Orders</a>
            <span class="breadcrumb-item active">Month: @CurrentMonth</span>
        </nav>
    </div>
</div>
@if (@CurrentMonth != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="pt-0 text-center">Menu @CurrentMonth</h1>
                    <h4 class="pt-0 text-center">(@calendarMonth.First().DateMonth - @calendarMonth.Last().DateMonth)</h4>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        @for (int Week = 1; Week <= calendarMonth.Last().Week; Week++)
                        {
                            var Active = Week == 1 ? "active" : "";
                            var TabName = "Week" + Week;
                            <li class="nav-item">
                                <button class="nav-link @Active" data-bs-toggle="tab" data-bs-target="#@TabName">
                                    Week @Week
                                </button>
                            </li>
                        }
                    </ul>
                    <div class="tab-content pt-2" id="myTabContent">
                        <select class="custom-select m-3" id="language" name="language" style="width: 200px;">
                            <option value="vn">Vietnamese</option>
                            <option value="en">English</option>
                        </select>
                        @for (int Week = 1; Week <= calendarMonth.Last().Week; Week++)
                        {
                            var Active = Week == 1 ? "active" : "";
                            var TabName = "Week" + Week;
                            <div class="tab-pane fade show @Active" id="@TabName">
                                <div class="d-flex text-center">
                                    <div class="meal-title font-weight-bold">
                                        <div class="tb-header font-weight-bold">
                                            <p class="title-vn">BỮA ĂN</p>
                                            <p class="title-en">MEALS</p>
                                        </div>
                                        <div class="title-breakfast">
                                            <p class="breakfast-1 title-vn">Bữa sáng chọn 1 trong 2</p>
                                            <p class="breakfast-1 title-en">Breakfast choose 1 of 2</p>

                                            <p class="title-vn">Sữa cho buổi sáng </p>
                                            <p class="title-en"> Milk</p>
                                        </div>
                                        <div class="title-lunch d-flex">
                                            <div class="flex-fill w-25">
                                                <p class="h-100 border-bottom-0 title-vn">Bữa trưa</p>
                                                <p class="h-100 border-bottom-0 title-en">Lunch</p>
                                            </div>
                                            <div class="flex-fill w-75">
                                                <p class="title-vn">Lựa chọn món nước</p>
                                                <p class="title-en">Option Noodle</p>

                                                <p class="title-vn">Lựa chọn món Việt </p>
                                                <p class="title-en"> Option VietNam</p>

                                                <p class="title-vn">Lựa chọn món Á</p>
                                                <p class="title-en">Option Asian</p>

                                                <p class="title-vn">Lựa chọn món Tây</p>
                                                <p class="title-en">Option Western</p>

                                                <p class="title-vn">Lựa chọn món Chay</p>
                                                <p class="title-en">Option Vegetarian</p>

                                                <p class="title-vn">Món Rau</p>
                                                <p class="title-en">Vegetable</p>

                                                <p class="title-vn">Canh</p>
                                                <p class="title-en">Soup</p>

                                                <p class="title-vn">Tráng miệng</p>
                                                <p class="title-en">Deser</p>
                                            </div>
                                        </div>
                                        <div class="title-afternoon">
                                            <p class="breakfast-1 title-vn">Ăn nhẹ</p>
                                            <p class="breakfast-1 title-en">Afternoon snack</p>
                                        </div>
                                    </div>
                                    @foreach (var day in calendarMonth.Where(x => x.Week == Week).ToList())
                                    {
                                        if (@day.DateString == "Saturday" || @day.DateString == "Sunday") continue;
                                        if (@day.IsHoliday)
                                        {
                                            <div class="day @day.DateString holiday">
                                                <div class="tb-header font-weight-bold">
                                                    <p>@day.DateString.Substring(0, 3) (@day.DateMonth)</p>
                                                </div>
                                                <div class="breakfast">
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                </div>
                                                <div class="lunch">
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                </div>
                                                <div class="afternoon">
                                                    <p></p>
                                                    <p></p>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="day @day.DateString">
                                                <div class="tb-header font-weight-bold">
                                                    <p>@day.DateString.Substring(0, 3) (@day.DateMonth)</p>
                                                </div>

                                                <div class="breakfast">
                                                    <input type="radio" id="breakfast-1-@day.Day" name="breakfast-@day.Day" value="mon1" />
                                                    <label class="vn" for="breakfast-1-@day.Day">Mì xào hải sản</label>
                                                    <label class="en" for="breakfast-1-@day.Day">Stir-fried yellow noodle with seafood</label>

                                                    <input type="radio" id="breakfast-2-@day.Day" name="breakfast-@day.Day" value="mon2" />
                                                    <label class="vn" for="breakfast-2-@day.Day">Nui nấu thịt heo</label>
                                                    <label class="en" for="breakfast-2-@day.Day">Pork macaroni soup</label>

                                                    @*Món phụ*@
                                                    <input type="radio" id="breakfast-op1-@day.Day" name="breakfast-op-@day.Day" value="mon2" />
                                                    <label class="vn" for="breakfast-op1-@day.Day">Sữa tươi</label>
                                                    <label class="en" for="breakfast-op1-@day.Day">Fresh milk</label>
                                                </div>

                                                <div class="lunch">
                                                    <input type="radio" id="lunch-1-@day.Day" name="lunch-@day.Day" value="mon1" />
                                                    <label class="vn" for="lunch-1-@day.Day">Phở bò nạm</label>
                                                    <label class="en" for="lunch-1-@day.Day">Beef brisket rice noodle soup</label>

                                                    <input type="radio" id="lunch-2-@day.Day" name="lunch-@day.Day" value="mon2" />
                                                    <label class="vn" for="lunch-2-@day.Day">Sườn non xào chua ngọt</label>
                                                    <label class="en" for="lunch-2-@day.Day">Sautéed pork ribs with sweet and sour sauce</label>

                                                    <input type="radio" id="lunch-3-@day.Day" name="lunch-@day.Day" value="mon3" />
                                                    <label class="vn" for="lunch-3-@day.Day">Cơm chiên Hawaiian</label>
                                                    <label class="en" for="lunch-3-@day.Day">Hawaiian fried rice</label>

                                                    <input type="radio" id="lunch-4-@day.Day" name="lunch-@day.Day" value="mon4" />
                                                    <label class="vn" for="lunch-4-@day.Day">Pasta hải sản</label>
                                                    <label class="en" for="lunch-4-@day.Day">Seafood pasta</label>

                                                    <input type="radio" id="lunch-5-@day.Day" name="lunch-@day.Day" value="mon5" />
                                                    <label class="vn" for="lunch-5-@day.Day">Sườn non xào chua ngọt</label>
                                                    <label class="en" for="lunch-5-@day.Day">Sautéed pork ribs with sweet and sour sauce</label>

                                                    @*Món phụ*@
                                                    <input type="checkbox" id="lunch-op1-@day.Day" name="lunch-op-@day.Day" value="mon1" />
                                                    <label class="vn" for="lunch-op1-@day.Day">Rau củ thập cẩm luộc</label>
                                                    <label class="en" for="lunch-op1-@day.Day">Boiled mixed vegetables</label>

                                                    <input type="checkbox" id="lunch-op2-@day.Day" name="lunch-op-@day.Day" value="mon2" />
                                                    <label class="vn" for="lunch-op2-@day.Day">Canh cà chua trứng</label>
                                                    <label class="en" for="lunch-op2-@day.Day"> Tomato egg drop soup</label>

                                                    <input type="checkbox" id="lunch-op3-@day.Day" name="lunch-op-@day.Day" value="mon3" />
                                                    <label class="vn" for="lunch-op3-@day.Day">Chuối</label>
                                                    <label class="en" for="lunch-op3-@day.Day">Banana</label>

                                                </div>

                                                <div class="afternoon">
                                                    <input type="checkbox" id="afternoon-op1-@day.Day" name="afternoon-op-@day.Day" value="mon1" />
                                                    <label class="vn" for="afternoon-op1-@day.Day">Súp bắp gà xé</label>
                                                    <label class="en" for="afternoon-op1-@day.Day">Sweet corn chicken soup</label>

                                                    <input type="checkbox" id="afternoon-op2-@day.Day" name="afternoon-op-@day.Day" value="mon1" />
                                                    <label class="vn" for="afternoon-op2-@day.Day">Sinh tố</label>
                                                    <label class="en" for="afternoon-op2-@day.Day">Smoothies</label>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts{
    <script>
        jQuery(document).ready(function () {
            if ('@CurrentMonth' == '') {
                $.confirm({
                    title: 'Select month for order!',
                    content: "@Html.Raw(SelectBoxElement)",
                    buttons: {
                        confirm: function () {
                            var monthSelected = $("#txtMonthSelect").val();
                            window.location.href = "@Url.Action("Index","Orders")?month=" + monthSelected;
                        },
                        cancel: function () {
                           window.location.href = "@Url.Action("Index","Home")";
                        },
                    }
                });
            }

            $(".title-en").hide();
            $(".en").hide();
            $(".en").each(function () {
                var value = $(this).attr('for');
                $(this).attr('for', "hide-" + value);
            });

            // Language handle
            $('#language').on('change', function (e) {
                var language = $("#language").val();
                if (language == "vn") {
                    $(".title-en").hide();
                    $(".title-vn").show();

                    $(".en").hide();
                    $(".en").each(function () {
                        var value = $(this).attr('for');
                        if (value.indexOf("hide-") == -1) {
                            $(this).attr('for', "hide-" + value);
                        }
                    });

                    $(".vn").show();
                    $(".vn").each(function () {
                        var value = $(this).attr('for');
                        if (value.indexOf("hide-") != -1) {
                            $(this).attr('for', value.replace("hide-", ""));
                        }
                    });
                } else {
                    $(".title-vn").hide();
                    $(".title-en").show();

                    $(".vn").hide();
                    $(".vn").each(function () {
                        var value = $(this).attr('for');
                        if (value.indexOf("hide-") == -1) {
                            $(this).attr('for', "hide-" + value);
                        }
                    });

                    $(".en").show();
                    $(".en").each(function () {
                        var value = $(this).attr('for');
                        if (value.indexOf("hide-") != -1) {
                            $(this).attr('for', value.replace("hide-", ""));
                        }
                    });
                }
            });

        });
    </script>
}