@using UTS_Portal.ViewModels;
@{
    string CurrentMonth = ViewBag.CurrentMonth;
    string SelectBoxElement = ViewBag.SelectBoxElement;
    List<CalendarMonth> calendarMonth = ViewBag.CalendarMonth;

    string language = "Vietnamese";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        .nav-link.active {
            color: #fff !important;
            background-color: #0d6efd !important;
        }

        .meal-title {
            background-color: beige;
            min-width: 225px;
        }

        .day {
            max-width: 400px;
        }

            .day p, .day label, .meal-title p, .meal-title label {
                width: 100%;
                border: solid 1px #ddd;
                border-right: 0;
                margin: 0;
                margin-left: -1px;
                margin-top: -1px;
                padding: 0 2px;
                height: 55px;
            }

        .breakfast-1 {
            height: 109px !important;
        }

        .holiday p, .holiday label {
            width: 85px;
        }

        .day:last-child {
            border-right: solid 1px #ddd;
        }

        .tb-header {
            background-color: #FF8302;
        }

        .breakfast, .lunch, .title-breakfast, .title-lunch {
            border-bottom: solid 2px bisque;
        }

        label {
            cursor: pointer;
        }


        @@media only screen and (max-width: 1600px) {
            .day p, .day label {
                height: 80px;
            }

            .breakfast-1 {
                height: 159px !important;
            }
        }



        input {
            display: none;
        }

            input[type=radio]:checked + label, input[type=checkbox]:checked + label {
                color: #0d6efd;
            }
    </style>
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home"></i>Orders</a>
            <span class="breadcrumb-item active">Month: @CurrentMonth</span>
        </nav>
    </div>
</div>
@if (@CurrentMonth != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="pt-0 text-center">Menu @CurrentMonth</h1>
                    <h4 class="pt-0 text-center">(@calendarMonth.First().DateMonth - @calendarMonth.Last().DateMonth)</h4>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        @for (int Week = 1; Week <= calendarMonth.Last().Week; Week++)
                        {
                            var Active = Week == 1 ? "active" : "";
                            var TabName = "Week" + Week;
                            <li class="nav-item">
                                <button class="nav-link @Active" data-bs-toggle="tab" data-bs-target="#@TabName">
                                    Week @Week
                                </button>
                            </li>
                        }
                    </ul>
                    <div class="tab-content pt-2" id="myTabContent">
                        @for (int Week = 1; Week <= calendarMonth.Last().Week; Week++)
                        {
                            var Active = Week == 1 ? "active" : "";
                            var TabName = "Week" + Week;
                            <div class="tab-pane fade show @Active" id="@TabName">
                                <div class="d-flex text-center">
                                    <div class="meal-title font-weight-bold">
                                        <div class="tb-header font-weight-bold">

                                            @if (language == "Vietnamese")
                                            {
                                                <p>BỮA ĂN</p>
                                            }
                                            else
                                            {
                                                <p>MEALS</p>
                                            }
                                        </div>
                                        <div class="title-breakfast">

                                            @if (language == "Vietnamese")
                                            {
                                                <p class="breakfast-1">Bữa sáng chọn 1 trong 2</p>
                                            }
                                            else
                                            {
                                                <p class="breakfast-1">Breakfast choose 1 of 2</p>
                                            }

                                            @if (language == "Vietnamese")
                                            {
                                                <p>Sữa cho buổi sáng </p>
                                            }
                                            else
                                            {
                                                <p> Milk</p>
                                            }
                                        </div>
                                        <div class="title-lunch d-flex">
                                            <div class="flex-fill w-25">

                                                @if (language == "Vietnamese")
                                                {
                                                    <p class="h-100 border-bottom-0">Bữa trưa</p>
                                                }
                                                else
                                                {
                                                    <p class="h-100 border-bottom-0">Lunch</p>
                                                }
                                            </div>
                                            <div class="flex-fill w-75">
                                                @if (language == "Vietnamese")
                                                {
                                                    <p>Lựa chọn món nước</p>
                                                }
                                                else
                                                {
                                                    <p>Option Noodle</p>
                                                }

                                                @if (language == "Vietnamese")
                                                {
                                                    <p>Lựa chọn món Việt </p>
                                                }
                                                else
                                                {
                                                    <p> Option VietNam</p>
                                                }

                                                @if (language == "Vietnamese")
                                                {
                                                    <p>Lựa chọn món Á</p>
                                                }
                                                else
                                                {
                                                    <p>Option Asian</p>
                                                }

                                                @if (language == "Vietnamese")
                                                {
                                                    <p>Lựa chọn món Tây</p>
                                                }
                                                else
                                                {
                                                    <p>Option Western</p>
                                                }

                                                @if (language == "Vietnamese")
                                                {
                                                    <p>Lựa chọn món Chay</p>
                                                }
                                                else
                                                {
                                                    <p>Option Vegetarian</p>
                                                }

                                                @if (language == "Vietnamese")
                                                {
                                                    <p>Món Rau</p>
                                                }
                                                else
                                                {
                                                    <p>Vegetable</p>
                                                }

                                                @if (language == "Vietnamese")
                                                {
                                                    <p>Canh</p>
                                                }
                                                else
                                                {
                                                    <p>Soup</p>
                                                }

                                                @if (language == "Vietnamese")
                                                {
                                                    <p>Tráng miệng</p>
                                                }
                                                else
                                                {
                                                    <p>Deser</p>
                                                }
                                            </div>
                                        </div>
                                        <div class="title-afternoon">
                                            @if (language == "Vietnamese")
                                            {
                                                <p class="breakfast-1">Ăn nhẹ</p>
                                            }
                                            else
                                            {
                                                <p class="breakfast-1">Afternoon snack</p>
                                            }

                                        </div>
                                    </div>
                                    @foreach (var day in calendarMonth.Where(x => x.Week == Week).ToList())
                                    {
                                        if (@day.DateString == "Saturday" || @day.DateString == "Sunday") continue;
                                        if (@day.IsHoliday)
                                        {
                                            <div class="day @day.DateString holiday">
                                                <div class="tb-header font-weight-bold">
                                                    <p>@day.DateString.Substring(0, 3) (@day.DateMonth)</p>
                                                </div>
                                                <div class="breakfast">
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                </div>
                                                <div class="lunch">
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                </div>
                                                <div class="afternoon">
                                                    <p></p>
                                                    <p></p>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="day @day.DateString">
                                                <div class="tb-header font-weight-bold">
                                                    <p>@day.DateString.Substring(0, 3) (@day.DateMonth)</p>
                                                </div>

                                                <div class="breakfast">
                                                    <input type="radio" id="breakfast-1-@day.Day" name="breakfast-@day.Day" value="mon1" />
                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="breakfast-1-@day.Day">Mì xào hải sản</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="breakfast-1-@day.Day">Stir-fried yellow noodle with seafood</label>
                                                    }

                                                    <input type="radio" id="breakfast-2-@day.Day" name="breakfast-@day.Day" value="mon2" />
                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="breakfast-2-@day.Day">Nui nấu thịt heo</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="breakfast-2-@day.Day">Pork macaroni soup</label>
                                                    }

                                                    @*Món phụ*@
                                                    <input type="radio" id="breakfast-op1-@day.Day" name="breakfast-op-@day.Day" value="mon2" />
                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="breakfast-op1-@day.Day">Sữa tươi</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="breakfast-op1-@day.Day">Fresh milk</label>
                                                    }
                                                </div>

                                                <div class="lunch">
                                                    <input type="radio" id="lunch-1-@day.Day" name="lunch-@day.Day" value="mon1" />
                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="lunch-1-@day.Day">Phở bò nạm</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="lunch-1-@day.Day">Beef brisket rice noodle soup</label>
                                                    }

                                                    <input type="radio" id="lunch-2-@day.Day" name="lunch-@day.Day" value="mon2" />
                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="lunch-2-@day.Day">Sườn non xào chua ngọt</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="lunch-2-@day.Day">Sautéed pork ribs with sweet and sour sauce</label>
                                                    }

                                                    <input type="radio" id="lunch-3-@day.Day" name="lunch-@day.Day" value="mon3" />
                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="lunch-3-@day.Day">Cơm chiên Hawaiian</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="lunch-3-@day.Day">Hawaiian fried rice</label>
                                                    }

                                                    <input type="radio" id="lunch-4-@day.Day" name="lunch-@day.Day" value="mon4" />

                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="lunch-4-@day.Day">Pasta hải sản</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="lunch-4-@day.Day">Seafood pasta</label>
                                                    }

                                                    <input type="radio" id="lunch-5-@day.Day" name="lunch-@day.Day" value="mon5" />
                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="lunch-5-@day.Day">Sườn non xào chua ngọt</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="lunch-5-@day.Day">Sautéed pork ribs with sweet and sour sauce</label>
                                                    }

                                                    @*Món phụ*@
                                                    <input type="checkbox" id="lunch-op1-@day.Day" name="lunch-op-@day.Day" value="mon1" />
                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="lunch-op1-@day.Day">Rau củ thập cẩm luộc</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="lunch-op1-@day.Day">Boiled mixed vegetables</label>
                                                    }

                                                    <input type="checkbox" id="lunch-op2-@day.Day" name="lunch-op-@day.Day" value="mon2" />
                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="lunch-op2-@day.Day">Canh cà chua trứng</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="lunch-op2-@day.Day"> Tomato egg drop soup</label>
                                                    }

                                                    <input type="checkbox" id="lunch-op3-@day.Day" name="lunch-op-@day.Day" value="mon3" />
                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="lunch-op3-@day.Day">Chuối</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="lunch-op3-@day.Day">Banana</label>
                                                    }

                                                </div>

                                                <div class="afternoon">
                                                    <input type="checkbox" id="afternoon-op1-@day.Day" name="afternoon-op-@day.Day" value="mon1" />
                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="afternoon-op1-@day.Day">Súp bắp gà xé</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="afternoon-op1-@day.Day">Sweet corn chicken soup</label>
                                                    }

                                                    <input type="checkbox" id="afternoon-op2-@day.Day" name="afternoon-op-@day.Day" value="mon1" />

                                                    @if (language == "Vietnamese")
                                                    {
                                                        <label for="afternoon-op2-@day.Day">Sinh tố</label>
                                                    }
                                                    else
                                                    {
                                                        <label for="afternoon-op2-@day.Day">Smoothies</label>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts{
    <script>
        jQuery(document).ready(function () {
            if ('@CurrentMonth' == '') {
                $.confirm({
                    title: 'Select month for order!',
                    content: "@Html.Raw(SelectBoxElement)",
                    buttons: {
                        confirm: function () {
                            var monthSelected = $("#txtMonthSelect").val();
                            window.location.href = "@Url.Action("Index","Orders")?month=" + monthSelected;
                        },
                        cancel: function () {
                           window.location.href = "@Url.Action("Index","Home")";
                        },
                    }
                });
            }
        });
    </script>
}