@model UTS_Portal.Models.MenuInfos
@using UTS_Portal.ViewModels;

@{
    ViewData["Title"] = "Edit";
    List<CalendarMonth> CalendarMonth = ViewBag.CalendarMonth;
    List<MenusByMonth> MenusByMonth = ViewBag.MenusByMonth;
    List<string> MenuFileNames = ViewBag.MenuFileNames;
    var HasMenuData = ViewBag.HasMenuData;

    string TabView = ViewBag.TabView == null ? "info" : ViewBag.TabView;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/css/custom-order.css" rel="stylesheet" />
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home"></i>Menus</a>
            <span class="breadcrumb-item active">Edit</span>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title pt-0">Edit menu: @Model.Month.ToString("MM/yyyy")</h5>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation"> <button class="nav-link @(TabView == "info" ? "active" : "")" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Info</button></li>
                    <li class="nav-item" role="presentation"> <button class="nav-link  @(TabView == "import_menu" ? "active" : "")" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Menu detail</button></li>
                </ul>
                <div class="tab-content pt-2" id="myTabContent">
                    <div class="tab-pane fade show @(TabView == "info" ? "active show" : "")" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-7">
                                <h5 class="card-title">Update menu</h5>
                                <form class="row" asp-action="Edit" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="Month" />
                                    <input type="hidden" name="Images" value="@Model.Images" />
                                    <p>When updating the menu, old photos will be deleted</p>
                                    <div class="col-md-10 mb-2">
                                        <label class="control-label">Change Images</label>
                                        <div class="d-flex">
                                            <input id="fThumbs" name="fThumbs" class="form-control" type="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg" />
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-2">
                                        <label class="control-label">Active</label>
                                        <div class="mt-2">
                                            <input class="form-check-input ml-1" type="checkbox" asp-for="Status">
                                            <label class="ml-4">Active</label>
                                        </div>
                                    </div>
                                    <div class="form-group text-right">
                                        <input type="submit" value="Update menu" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-5" style="border-left: 1px solid rgba(0,0,0,.125)">
                                <h5 class="card-title">Add photos to the menu</h5>
                                <form class="row" asp-action="AddPhoto" enctype="multipart/form-data">
                                    <input type="hidden" asp-for="Id" />
                                    <div class="col-md-12 mb-2">
                                        <p>When adding, photos will be added to the old photos folder</p>
                                        <label class="control-label">Add image to menu</label>
                                        <div class="d-flex">
                                            <input id="UpdateImages" name="updateImages" class="form-control" type="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg" />
                                        </div>
                                    </div>
                                    <div class="form-group text-right">
                                        <input type="submit" value="Add photos" class="btn btn-primary" />
                                    </div>
                                </form>
                                <div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="card-title">Menu Images</h5>
                                <a asp-action="Images" asp-route-id="@Model.Id">Click to view Images</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade @(TabView == "import_menu" ? "active show" : "")" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="row" asp-action="UploadMenu" enctype="multipart/form-data">
                                    <input type="hidden" asp-for="Id" />
                                    <div class="col-md-12 mb-2">
                                        <label class="control-label">Add menu</label>
                                        <p>When Click add menu button. Old data on this month will be delete.</p>
                                        <div class="d-flex">
                                            <input id="fMenus" name="fMenus" class="form-control" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                            <div class="form-group ml-2">
                                                <input type="submit" value="Add menu" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        @if (HasMenuData)
                        {
                            <div class="card">
                                <div class="card-body order-table">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        @for (int Week = 1; Week <= CalendarMonth.Last().Week; Week++)
                                        {
                                            var Active = Week == 1 ? "active" : "";
                                            var TabName = "Week" + Week;
                                            <li class="nav-item">
                                                <button class="nav-link @Active" data-bs-toggle="tab" data-bs-target="#@TabName">
                                                    Week @Week
                                                </button>
                                            </li>
                                        }
                                    </ul>
                                    <div class="tab-content pt-2" id="myTabContent">
                                        <input type="hidden" id="ListDaySelect" value="@string.Join(',', CalendarMonth.Where(x => !x.IsHoliday).Select(x => x.Day).ToList())" />

                                        <label>Choose language: </label>
                                        <select class="custom-select mt-3 mb-3 mr-3" id="language" name="language" style="width: 200px;">
                                            <option value="vn">Vietnamese</option>
                                            <option value="en" selected>English</option>
                                        </select>

                                        @for (int Week = 1; Week <= CalendarMonth.Last().Week; Week++)
                                        {
                                            var Active = Week == 1 ? "active" : "";
                                            var TabName = "Week" + Week;
                                            <div class="tab-pane fade show @Active" id="@TabName">
                                                <div class="d-flex text-center">
                                                    <div class="meal-title font-weight-bold">
                                                        <div class="tb-header font-weight-bold">
                                                            <p class="title-vn">BỮA ĂN</p>
                                                            <p class="title-en">MEALS</p>
                                                        </div>
                                                        <div class="title-breakfast">
                                                            <p class="breakfast-1 title-vn">Bữa sáng chọn 1 trong 2</p>
                                                            <p class="breakfast-1 title-en">Breakfast choose 1 of 2</p>

                                                            <p class="title-vn breakfast-op">Sữa cho buổi sáng </p>
                                                            <p class="title-en breakfast-op"> Milk</p>
                                                        </div>
                                                        <div class="title-lunch d-flex">
                                                            <div class="flex-fill w-25">
                                                                <p class="h-100 border-bottom-0 title-vn">Bữa trưa</p>
                                                                <p class="h-100 border-bottom-0 title-en">Lunch</p>
                                                            </div>
                                                            <div class="flex-fill w-75">
                                                                <p class="title-vn">Lựa chọn món nước</p>
                                                                <p class="title-en">Option Noodle</p>

                                                                <p class="title-vn">Lựa chọn món Việt </p>
                                                                <p class="title-en"> Option VietNam</p>

                                                                <p class="title-vn">Lựa chọn món Á</p>
                                                                <p class="title-en">Option Asian</p>

                                                                <p class="title-vn">Lựa chọn món Tây</p>
                                                                <p class="title-en">Option Western</p>

                                                                <p class="title-vn">Lựa chọn món Chay</p>
                                                                <p class="title-en">Option Vegetarian</p>

                                                                <p class="title-vn">Món Rau</p>
                                                                <p class="title-en">Vegetable</p>

                                                                <p class="title-vn">Canh</p>
                                                                <p class="title-en">Soup</p>

                                                                <p class="title-vn">Tráng miệng</p>
                                                                <p class="title-en">Desert</p>
                                                            </div>
                                                        </div>
                                                        <div class="title-afternoon">
                                                            <p class="afternoon-1 title-vn">Bữa chiều chọn 1 trong 2</p>
                                                            <p class="afternoon-1 title-en">Afternoon choose 1 of 2</p>

                                                            <p class="title-vn">Ăn nhẹ</p>
                                                            <p class="title-en">Afternoon snack</p>
                                                        </div>
                                                    </div>
                                                    @foreach (var day in CalendarMonth.Where(x => x.Week == Week).ToList())
                                                    {
                                                        
                                                        if (@day.DateString == "Saturday" || @day.DateString == "Sunday") continue;

                                                        if (@day.IsHoliday)
                                                        {
                                                            <div class="day @day.DateString holiday">
                                                                <div class="tb-header font-weight-bold">
                                                                    <p>@day.DateString.Substring(0, 3) (@day.DateMonth)</p>
                                                                </div>
                                                                <div class="breakfast">
                                                                    <p class="noteat"></p>
                                                                    <p></p>
                                                                    <p></p>
                                                                    <p class="breakfast-op"></p>
                                                                </div>
                                                                <div class="lunch">
                                                                    <p></p>
                                                                    <p></p>
                                                                    <p></p>
                                                                    <p></p>
                                                                    <p></p>
                                                                    <p></p>
                                                                    <p></p>
                                                                    <p></p>
                                                                </div>
                                                                <div class="afternoon">
                                                                    <p class="noteat"></p>
                                                                    <p></p>
                                                                    <p></p>
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            @* Get data menus *@
                                                            var MenuDay = MenusByMonth.Where(x => x.DateMonth == day.DateMonth).First();
                                                            var BfData = MenuDay.Noon.Where(x => x.Noon == 1).FirstOrDefault()?.Menus;
                                                            var LnData = MenuDay.Noon.Where(x => x.Noon == 2).FirstOrDefault()?.Menus;
                                                            var AfData = MenuDay.Noon.Where(x => x.Noon == 3 || x.Noon == 4).FirstOrDefault()?.Menus;

                                                            if (BfData == null) BfData = new List<Menus>();
                                                            if (LnData == null) LnData = new List<Menus>();
                                                            if (AfData == null) AfData = new List<Menus>();

                                                            <div class="day @day.DateString">
                                                                <div class="tb-header font-weight-bold">
                                                                    <p>@day.DateString.Substring(0, 3) (@day.DateMonth)</p>
                                                                </div>

                                                                <div class="breakfast">
                                                                    <input type="radio" id="breakfast-noteat-@day.Day" name="breakfast-@day.Day" value="0" />
                                                                    <label class="vn noteat" for="breakfast-noteat-@day.Day">Không ăn </label>
                                                                    <label class="en noteat" for="breakfast-noteat-@day.Day">Do not eat</label>

                                                                    @{int i = 1;}
                                                                    @foreach (var item in BfData.Where(x => x.IsBundled == 0))
                                                                    {
                                                                        <input type="radio" id="breakfast-@i-@day.Day" name="breakfast-@day.Day" value="@item.ItemCode" />
                                                                        <label class="vn" for="breakfast-@i-@day.Day">@item.ItemNameVn</label>
                                                                        <label class="en" for="breakfast-@i-@day.Day">@item.ItemNameEn</label>
                                                                        i++;
                                                                    }
                                                                    @for (int k = i; k <= 2; k++)
                                                                    {
                                                                        <label class="text-white">No Item</label>
                                                                    }


                                                                    @*Món phụ*@
                                                                    @{i = 1;}
                                                                    @foreach (var item in BfData.Where(x => x.IsBundled == 1))
                                                                    {
                                                                        <input type="checkbox" id="breakfast-op-@i-@day.Day" name="breakfast-op-@day.Day" value="@item.ItemCode" />
                                                                        <label class="vn breakfast-op" for="breakfast-op-@i-@day.Day" name="breakfast-op-@day.Day">@item.ItemNameVn</label>
                                                                        <label class="en breakfast-op" for="breakfast-op-@i-@day.Day" name="breakfast-op-@day.Day">@item.ItemNameEn</label>
                                                                        i++;
                                                                    }
                                                                    @for (int k = i; k <= 1; k++)
                                                                    {
                                                                        <label class="text-white">No Item</label>
                                                                    }
                                                                </div>

                                                                <div class="lunch">
                                                                    @{
                                                                        var OptionNoodles = LnData.Where(x => x.IsBundled == 0 && x.Category.Trim() == "Option Noodles").FirstOrDefault();
                                                                        var OptionVietnam = LnData.Where(x => x.IsBundled == 0 && x.Category.Trim() == "Option Vietnam").FirstOrDefault();
                                                                        var OptionAsian = LnData.Where(x => x.IsBundled == 0 && x.Category.Trim() == "Option Asian").FirstOrDefault();
                                                                        var OptionWestern = LnData.Where(x => x.IsBundled == 0 && x.Category.Trim() == "Option Western").FirstOrDefault();
                                                                        var Other = LnData.Where(x => x.IsBundled == 0 && x.Category.Trim() == "Option Vegetarian").FirstOrDefault();
                                                                    }

                                                                    @if (OptionNoodles != null)
                                                                    {
                                                                        var @item = OptionNoodles;
                                                                        <input type="radio" id="lunch-@i-@day.Day" name="lunch-@day.Day" value="@item.ItemCode" />
                                                                        <label class="vn" for="lunch-@i-@day.Day">@item.ItemNameVn</label>
                                                                        <label class="en" for="lunch-@i-@day.Day">@item.ItemNameEn</label>
                                                                        i++;
                                                                    }
                                                                    else
                                                                    {
                                                                        <label class="text-white">No Item</label>
                                                                    }

                                                                    @if (OptionVietnam != null)
                                                                    {
                                                                        var @item = OptionVietnam;
                                                                        <input type="radio" id="lunch-@i-@day.Day" name="lunch-@day.Day" value="@item.ItemCode" />
                                                                        <label class="vn" for="lunch-@i-@day.Day">@item.ItemNameVn</label>
                                                                        <label class="en" for="lunch-@i-@day.Day">@item.ItemNameEn</label>
                                                                        i++;
                                                                    }
                                                                    else
                                                                    {
                                                                        <label class="text-white">No Item</label>
                                                                    }

                                                                    @if (OptionAsian != null)
                                                                    {
                                                                        var @item = OptionAsian;
                                                                        <input type="radio" id="lunch-@i-@day.Day" name="lunch-@day.Day" value="@item.ItemCode" />
                                                                        <label class="vn" for="lunch-@i-@day.Day">@item.ItemNameVn</label>
                                                                        <label class="en" for="lunch-@i-@day.Day">@item.ItemNameEn</label>
                                                                        i++;
                                                                    }
                                                                    else
                                                                    {
                                                                        <label class="text-white">No Item</label>
                                                                    }

                                                                    @if (OptionWestern != null)
                                                                    {
                                                                        var @item = OptionWestern;
                                                                        <input type="radio" id="lunch-@i-@day.Day" name="lunch-@day.Day" value="@item.ItemCode" />
                                                                        <label class="vn" for="lunch-@i-@day.Day">@item.ItemNameVn</label>
                                                                        <label class="en" for="lunch-@i-@day.Day">@item.ItemNameEn</label>
                                                                        i++;
                                                                    }
                                                                    else
                                                                    {
                                                                        <label class="text-white">No Item</label>
                                                                    }

                                                                    @if (Other != null)
                                                                    {
                                                                        var @item = Other;
                                                                        <input type="radio" id="lunch-@i-@day.Day" name="lunch-@day.Day" value="@item.ItemCode" />
                                                                        <label class="vn" for="lunch-@i-@day.Day">@item.ItemNameVn</label>
                                                                        <label class="en" for="lunch-@i-@day.Day">@item.ItemNameEn</label>
                                                                        i++;
                                                                    }
                                                                    else
                                                                    {
                                                                        <label class="text-white">No Item</label>
                                                                    }



                                                                    @*Món phụ*@
                                                                    @{i = 1;}
                                                                    @foreach (var item in LnData.Where(x => x.IsBundled == 1))
                                                                    {
                                                                        <input type="checkbox" id="lunch-op-@i-@day.Day" name="lunch-op-@day.Day" value="@item.ItemCode" />
                                                                        <label class="vn" for="lunch-op-@i-@day.Day" name="lunch-op-@day.Day">@item.ItemNameVn</label>
                                                                        <label class="en" for="lunch-op-@i-@day.Day" name="lunch-op-@day.Day">@item.ItemNameEn</label>
                                                                        i++;
                                                                    }
                                                                    @for (int k = i; k <= 3; k++)
                                                                    {
                                                                        <label class="text-white">No Item</label>
                                                                    }
                                                                </div>

                                                                <div class="afternoon">
                                                                    <input type="radio" id="afternoon-noteat-@day.Day" name="afternoon-@day.Day" value="0" />
                                                                    <label class="vn noteat" for="afternoon-noteat-@day.Day">Không ăn </label>
                                                                    <label class="en noteat" for="afternoon-noteat-@day.Day">Do not eat</label>

                                                                    @{i = 1;}
                                                                    @foreach (var item in AfData.Where(x => x.IsBundled == 0))
                                                                    {
                                                                        <input type="radio" id="afternoon-@i-@day.Day" name="afternoon-@day.Day" value="@item.ItemCode" />
                                                                        <label class="vn" for="afternoon-@i-@day.Day">@item.ItemNameVn</label>
                                                                        <label class="en" for="afternoon-@i-@day.Day">@item.ItemNameEn</label>
                                                                        i++;
                                                                    }
                                                                    @for (int k = i; k <= 2; k++)
                                                                    {
                                                                        <label class="text-white">No Item</label>
                                                                    }

                                                                    @*Món phụ*@
                                                                    @{i = 1;}
                                                                    @foreach (var item in AfData.Where(x => x.IsBundled == 1))
                                                                    {
                                                                        <input type="checkbox" id="afternoon-op-@i-@day.Day" name="afternoon-op-@day.Day" value="@item.ItemCode" />
                                                                        <label class="vn" for="afternoon-op-@i-@day.Day" name="afternoon-op-@day.Day">@item.ItemNameVn</label>
                                                                        <label class="en" for="afternoon-op-@i-@day.Day" name="afternoon-op-@day.Day">@item.ItemNameEn</label>
                                                                        i++;
                                                                    }
                                                                    @for (int k = i; k <= 1; k++)
                                                                    {
                                                                        <label class="text-white">No Item</label>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        jQuery(document).ready(function () {
            // Init Language
            if ($("#language").val() === "vn") {
                $(".title-en").hide();
                $(".en").hide();
                $(".en").each(function () {
                    var value = $(this).attr('for');
                    $(this).attr('for', "hide-" + value);
                });
            }
            else {
                $(".title-vn").hide();
                $(".vn").hide();
                $(".vn").each(function () {
                    var value = $(this).attr('for');
                    $(this).attr('for', "hide-" + value);
                });
            }

            // Language handle
            $('#language').on('change', function (e) {
                var language = $("#language").val();
                if (language === "vn") {
                    $(".title-en").hide();
                    $(".title-vn").show();

                    $(".en").hide();
                    $(".en").each(function () {
                        var value = $(this).attr('for');
                        if (value.indexOf("hide-") == -1) {
                            $(this).attr('for', "hide-" + value);
                        }
                    });

                    $(".vn").show();
                    $(".vn").each(function () {
                        var value = $(this).attr('for');
                        if (value.indexOf("hide-") != -1) {
                            $(this).attr('for', value.replace("hide-", ""));
                        }
                    });
                } else {
                    $(".title-vn").hide();
                    $(".title-en").show();

                    $(".vn").hide();
                    $(".vn").each(function () {
                        var value = $(this).attr('for');
                        if (value.indexOf("hide-") == -1) {
                            $(this).attr('for', "hide-" + value);
                        }
                    });

                    $(".en").show();
                    $(".en").each(function () {
                        var value = $(this).attr('for');
                        if (value.indexOf("hide-") != -1) {
                            $(this).attr('for', value.replace("hide-", ""));
                        }
                    });
                }
            });

        });
    </script>
}

