@model UTS_Portal.Models.MenuInfos
@using UTS_Portal.ViewModels;

@{
    ViewData["Title"] = "Images";
    string CurrentMonth = ViewBag.CurrentMonth;
    int MenuId = ViewBag.MenuId;
    List<string> MenuFileNames = ViewBag.MenuFileNames;

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/css/custom-order.css" rel="stylesheet" />
    <style>
        .lazy {
            width: 100%;
        }

            .lazy:hover {
                cursor: pointer;
            }

        .image {
            position: relative;
        }

        .btn-delete {
            position: absolute;
            top: 9px;
            right: 8px;
            width: fit-content;
            padding: 5px 7px;
            cursor: pointer;
            font-size: 14px;
            background-color: #FF8302 !important;
            display: none;
        }

        .col-md-3.pr-1.pl-1.pb-2.image:hover .btn-delete {
            display: block;
        }
    </style>
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home"></i>Menus</a>
            <a asp-action="Edit" asp-route-id="@MenuId" class="breadcrumb-item"><i class="anticon anticon-home"></i>Edit @CurrentMonth</a>
            <span class="breadcrumb-item active">Images</span>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title pt-0">Menu image @CurrentMonth</h5>
                <div class="row">
                    @foreach (var image in MenuFileNames)
                    {
                        <div class="col-md-3 pr-1 pl-1 pb-2 image">
                            <img class="lazy" src="~/images/@image" alt="@image">
                            <span class="badge bg-primary btn-delete"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="bottom"
                                  data-bs-original-title="Delete Image" ckcode="@image">
                                <i class="bi bi-x"></i>
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        jQuery(document).ready(function () {
            $(".btn-delete").click(function () {
                var imagePath = $(this).attr("ckcode");
                $.confirm({
                    closeIcon: true,
                    title: "Delete image",
                    content: "Do you want to delete this image",
                    buttons: {
                        Cancel: function () {
                        },
                        Delete: {
                            btnClass: 'btn-red',
                            action: function () {
                                $.ajax({
                                    url: '@Url.Action("DeleteImage", "Menus")',
                                    type: "POST",
                                    dataType: "json",
                                    data: {
                                        path: imagePath
                                    },
                                    success: function (data) {
                                        if (data.success) {
                                            $.confirm({
                                                title: 'Successfully!',
                                                content: data.message,
                                                type: 'green',
                                                typeAnimated: true,
                                                buttons: {
                                                    Ok: {
                                                        btnClass: 'btn-success',
                                                        action: function () {
                                                            window.location.reload();
                                                        }
                                                    },
                                                }
                                            });
                                        }
                                        else {
                                            $.confirm({
                                                title: 'Error!',
                                                content: data.message,
                                                type: 'red',
                                                typeAnimated: true,
                                                buttons: {
                                                    Ok: {
                                                        btnClass: 'btn-red',
                                                        action: function () {

                                                        }
                                                    },
                                                }
                                            });
                                        }
                                    }
                                });
                            }
                        },
                    }
                });
            });

        })
    </script>
}
