@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<UTS_Portal.Models.MenuInfos>
@{
    int CurrentPage = ViewBag.CurrentPage;
    int Total = ViewBag.Total;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home"></i>Menus</a>
            <span class="breadcrumb-item active">List</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-lg-10">
                <a class="btn btn-primary" asp-controller="Menus" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Add menu</span></a>
            </div>
            <div class="col-lg-2 text-right">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-affix">
                            <select class="custom-select" id="txtYearFilter" name="txtYearFilter" style="min-width: 200px;" asp-items="ViewBag.YearFilter">
                                <option selected>Select year</option>
                                <option value="0">Select all</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th style="width: 120px">STT</th>
                        <th>Month</th>
                        <th>Images</th>
                        <th style="width: 120px">Status</th>
                        <th style="width: 180px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {

                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.Month.ToString("yyyy/MM")</td>
                                <td>
                                    @foreach (var image in item.Images.Split(";"))
                                    {
                                        <img src="~/images/@image" alt="@image" style="height:40px" />
                                    }
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        @if (item.Status)
                                        {
                                            <div class="badge badge-success badge-dot mt-1">
                                                <span>Active</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="badge badge-secondary badge-dot mt-1">
                                                <span>Non-Active</span>
                                            </div>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-secondary btn-sm" asp-controller="Menus" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-danger btn-sm text-white" onclick="Delete('@Url.Action("Delete","Menus")/@item.Id', '@item.Month.ToString("yyyy/MM")')">Delete</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }

                </tbody>
            </table>
            <div>
                <ul class="pagination justify-content-end">
                    <pager class="pager-container" list="@Model" asp-controller="Menus" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            jQuery("#txtYearFilter").change(function () {
                var yearFilter = jQuery(this).children(":selected").attr("value");
                yearFilter = parseFloat(yearFilter);
                $('#txtYearFilter option')
                    .removeAttr('selected');
                $("#txtYearFilter > [value=" + yearFilter + "]").attr("selected", "true");
                $.ajax({
                    url: '@Url.Action("ListMenusFiltter", "Menus")',
                    datatype: "json",
                    type: "GET",
                    data: {
                        yearFilter: yearFilter
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });

        function Delete(url, month) {
            $.confirm({
                boxWidth: '400px',
                useBootstrap: false,
                title: 'Confirm!',
                content: 'Do you want to delete menus of ' + month + " !",
                buttons: {
                    confirm: function () {
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: { month: month },
                            success: function (data) {
                                if (data.success) {
                                    location.reload(true);
                                }
                            }
                        });
                    },
                    cancel: function () {

                    },
                }
            });
        }
    </script>
}