@{
    ViewData["Title"] = "Sale Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string From = ViewBag.From;
    string To = ViewBag.To;

}
@section Styles {
    <style>
    </style>
}

<div class="card mb-4">
    <div class="card-header" id="heading">
        <i class="bi bi-bar-chart"></i>
        Sale Detail
    </div>
    <div class="card-body site-datatable">
        <div class="row">
            <div class="col-md-6">
                <div class="form-row mt-2">
                    <label class="col-sm-4 font-weight-bold">Date:</label>
                    <div class="col-sm-8">@DateTime.Now.ToString("dd/MM/yyyy")</div>
                </div>
                <div class="form-row">
                    <label class="col-sm-4 font-weight-bold">Campus:</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="txtCampusList" name="txtCampusList" asp-items="ViewBag.CampusList" style="width: 300px">
                        </select>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <label class="col-sm-4 font-weight-bold">From Date:<label class="text-danger">*</label></label>
                    <div class="col-sm-8">
                        <input class="form-control form-control-sm text-box" id="FromDate" placeholder="MM/dd/yyyy" value="@From" style="width: 300px" />
                    </div>
                </div>
                <div class="form-row mt-2">
                    <label class="col-sm-4 font-weight-bold">To Date:<label class="text-danger">*</label></label>
                    <div class="col-sm-8">
                        <input class="form-control form-control-sm text-box" id="ToDate" placeholder="MM/dd/yyyy" value="@To" style="width: 300px" />
                    </div>
                </div>
                <div class="form-row mt-2 float-end">
                    <button class="btn btn-primary" id="View">View</button>
                </div>
            </div>
        </div>

        <div class="card mt-4 sharepoint-line">
            <div class="card-header" id="heading">
                <i class="bi bi-bar-chart"></i>
                Data
            </div>
            <div id="collapse-quote-item" aria-labelledby="heading">
                <div class="card-body site-datatable">
                    <table id="Report" class="table table-striped table-hover table-bordered display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Campus</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Number</th>
                                <th>Type</th>
                                <th>Quantity</th>
                                <th>Unit price</th>
                                <th>Amount</th>
                                <th>Meal</th>
                                <th>Ck Code</th>
                                <th>Item Name (VN)</th>
                                <th>Item Name (EN)</th>
                                <th>Meal</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="form-row">
                        <div class="form-group col-md-4 mt-2">
                            <div>
                                <span><b>Total Quantity: </b></span>
                                <span id="TotalQuantity"></span>
                            </div>
                            <div>
                                <span><b>Total Amount:</b></span>
                                <span id="TotalAmount"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/lib/DataTables/DataTables-1.11.5/css/dataTables.bootstrap5.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css" rel="stylesheet" />
@section scripts{
    <link href="~/lib/export-datatable/buttons.dataTables.min.css" rel="stylesheet" />

    <script src="~/lib/DataTables/DataTables-1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/DataTables-1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/datatableSumPlugin.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
    <script>
        var dataTable;
        var campusId = $("#txtCampusList").val();
        var from = $("#FromDate").val();
        var to = $("#ToDate").val();
        $("#loaderbody").removeClass('hide-spiner');
        $(document).ready(function () {
            dataTable = $("#Report").DataTable({
                "bInfo": false,
                "dom": "Bfrtip",
                "buttons": [
                    'pageLength',
                    {
                        "extend": 'csv',
                        "title": 'Sale detail',
                        "titleAttr": 'Download CSV',
                        @*"exportOptions": {
                            "columns": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        }*@
                    },
                    {
                        "extend": 'excel',
                        "title": 'Sale detail',
                        "titleAttr": 'Download Excel',
                    }
                ],
                "ajax": {
                    "url": "@Url.Action("GetSaleDetailData", "Report")",
                    "type": "GET",
                    "datatype": "json",
                    "data": { from: from, to: to, campusId: "00" }
                },
                "columns": [
                    { "data": "campus" },
                    { "data": "date"},
                    { "data": "time"},
                    { "data": "receiptNumber" },
                    { "data": "type" },
                    { "data": "quantity" },
                    {
                        "data": "unitPrice",
                        render: function (data) {
                            if (data != null) {
                                var rs = data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                                return rs;
                            }
                            return "";
                        },
                    },
                    {
                        "data": "amount",
                        render: function (data) {
                            if (data != null) {
                                var rs = data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                                return rs;
                            }
                            return "";
                        },
                    },
                    { "data": "grpName" },
                    { "data": "ckCode" },
                    { "data": "itemNameVN" },
                    { "data": "itemNameEN" },
                    { "data": "meal" },
                    { "data": "remark" },
                ],
                "scrollX": true,
                "scrollY": '34vh',
                "order": [],
                "pageLength": 50,
                "language": {
                    "emptyTable" : "No data found."
                },
                "drawCallback": function () {
                    var api = this.api();
                    var TotalQuantity = api.column(5).data().sum();
                    var TotalAmount = api.column(7).data().sum();
                    
                    $("#TotalQuantity").html(
                        TotalQuantity.toString()
                    );
                    $("#TotalAmount").html(
                        TotalAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " VND"
                    );
                },
            });
            $("#loaderbody").addClass('hide-spiner');

            $(function () {
                $("#FromDate").datepicker();
                $("#ToDate").datepicker();
            });


            $("#View").click(function () {
                from = $("#FromDate").val();
                to = $("#ToDate").val();
                var errors = [];

                if (from == "") {
                    errors.push("Please select From Date");
                }
                if (to == "") {
                    errors.push("Please select To Date");
                }

                if (from != "" && to != "" && from > to) {
                    errors.push("From Date must be smaller To Date");
                }

                if (errors.length > 0) {
                    var error_html = "<ul>";
                    errors.forEach(function (er) {
                        error_html = error_html + "<li>" + er + "</li>";
                    });
                    error_html = error_html + "</ul>";

                    $.confirm({
                        closeIcon: true,
                        typeAnimated: true,
                        type: 'red',
                        icon: 'fa fa-warning',
                        title: 'Warning',
                        content: error_html,
                        buttons: {
                            ChooseAgain: {
                                text: 'Choose Again',
                                action: function () {
                                }
                            },
                        }
                    });
                }
                else {
                    window.location.href = "@Url.Action("SaleDetail", "Report")?from=" + from + "&to=" + to;
                }
            })
        });



    </script>
}
