@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<UTS_Portal.Models.Users>
@{
    int CurrentPage = ViewBag.CurrentPage;
    int Total = ViewBag.Total;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home"></i>Users</a>
            <span class="breadcrumb-item active">List: @Total users</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-lg-8">
                <a class="btn btn-primary" asp-controller="Users" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>New</span></a>
            </div>
            <div class="col-lg-4 text-right">

            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Fullname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th>Active</th>
                        <th>Created Date</th>
                        <th style="width: 180px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {

                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.Username</td>
                                <td>@item.Fullname</td>
                                <td>
                                    @item.Email
                                </td>
                                <td>@item.Phone</td>
                                <td>@item.Role?.Name</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        @if (item.Active == true)
                                        {
                                            <div class="badge badge-success badge-dot mt-1">
                                                <span>Active</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="badge badge-secondary badge-dot mt-1">
                                                <span>Non-Active</span>
                                            </div>
                                        }
                                    </div>
                                </td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <a class="btn btn-secondary btn-sm" asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-danger btn-sm" asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }

                </tbody>
            </table>
            <div>
                <ul class="pagination justify-content-end">
                    <pager class="pager-container" list="@Model" asp-controller="Users" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
