@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<UTS_Portal.Models.Posts>
@{
    int CurrentPage = ViewBag.CurrentPage;
    int Total = ViewBag.Total;
    var ListPopular = ViewBag.ListPopular;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        .page-item.active span {
            background-color: #FF8302 !important;
            border-color: #FF8302 !important;
            color: white !important;
        }

        .page-link {
            color: #FF8302 !important;
        }

        .page-item.disabled a {
            color: grey !important;
        }

        a {
            text-decoration: none !important;
        }

        .main-blog img {
            height: 100%;
            width: 100%;
            border-radius: 5px;
        }

        .main-blog .image {
            width: 200px !important;
            height: 150px;
            background-color: antiquewhite;
            float: left;
            border-radius: 5px;
            margin-right: 20px;
        }

        .main-content a {
            color: #804100;
            line-height: 36px;
            font-weight: 600;
            transition: 0.3s;
            font-size: 25px;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            display: -webkit-box !important;
            -webkit-line-clamp: 2 !important;
            -webkit-box-orient: vertical !important;
        }

            .main-content a:hover {
                color: #FF8302;
            }

        .main-content p {
            color: #494949;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            transition: 0.4s;
            pointer-events: none;
        }

        .post-item p {
            margin-bottom: 0;
        }

        .clearfix.mb-4:hover {
            background-color: antiquewhite;
        }

        /* Iphone */
        @@media only screen and (max-width: 600px) {
            .main-blog .image {
                width: 120px !important;
                height: 120px !important;
            }

            .main-content a {
                font-size: 18px !important;
                line-height: 25px !important;
            }

            .main-content p {
                font-size: 14px !important;
                margin-bottom: 0 !important;
                line-height: 20px !important;
            }
        }

        @@media only screen and (max-width: 1600px) {
            .main-content p {
                overflow: hidden !important;
                text-overflow: ellipsis !important;
                display: -webkit-box !important;
                -webkit-line-clamp: 2 !important;
                -webkit-box-orient: vertical !important;
            }

            .post-item p {
                overflow: hidden !important;
                text-overflow: ellipsis !important;
                display: -webkit-box !important;
                -webkit-line-clamp: 1 !important;
                -webkit-box-orient: vertical !important;
            }

            .post-item h4 {
                overflow: hidden !important;
                text-overflow: ellipsis !important;
                display: -webkit-box !important;
                -webkit-line-clamp: 2 !important;
                -webkit-box-orient: vertical !important;
            }
        }
    </style>
}

<div class="section dashboard">
    <div class="row">
        <div class="col-lg-8 main-blog">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> News &amp; Events <span> | Today</span> </h5>
                    <div class="content">
                        @if (Model != null)
                        {

                            var i = 1;
                            @foreach (var item in Model)
                            {
                                <div class="clearfix mb-4">
                                    <div class="image">
                                        <a href="@Url.Action("Details", "Posts")/@item.Alias"><img src="~/images/news/@item.Thumb" alt="" /></a>
                                    </div>
                                    <div class="main-content">
                                        <a href="@Url.Action("Details", "Posts")/@item.Alias">@item.Title</a>
                                        <p>@item.Scontents</p>
                                    </div>
                                </div>
                                i++;
                            }
                        }
                    </div>
                    <div>
                        <ul class="pagination justify-content-end">
                            <pager class="pager-container" list="@Model" asp-controller="Posts" asp-action="List" />
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body pb-4">
                    <h5 class="card-title"> News &amp; Favorite <span> | Popular</span> </h5>
                    <div class="news">
                        @foreach (var item in ListPopular)
                        {
                            <div class="post-item clearfix">
                                <a href="@Url.Action("Details", "Posts")/@item.Alias"><img src="~/images/news/@item.Thumb" style="height: 60px"></a>
                                <h4> <a href="@Url.Action("Details", "Posts")/@item.Alias">@item.Title</a> </h4>
                                <p>@item.Scontents</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
